[2020-01-02 16:00] bezrazli4n0 opened #1 "Styles in giu"
Hi, how can i apply styles to widgets?

[2020-01-06 06:49] AllenDang commented on #1
@bezrazli4n0
You can use following APIs to apply styles at anytime.

imgui.PushStyleColor
imgui.PushStyleVarFloat
imgui.PushStyleVarVec2

Here you can find a complete list of StyleIDs
[Style.go](https://github.com/AllenDang/giu/blob/master/imgui/Style.go)

[2020-01-06 06:50] #1 closed

[2020-01-06 08:15] bezrazli4n0 commented on #1
Ok, but how to apply style only for one widget in layout?, for example:
`
g.Layout{
			g.Label("One line label"),
		        g.Button("Click Me", nil),
}
`
and how to set color only for label?

[2020-01-06 08:38] bezrazli4n0 commented on #1
Nice, we can do it by call: `giu.Custom`, see examples.

[2020-01-06 09:01] AllenDang commented on #1
@bezrazli4n0
:P, yes, I'm thinking about how to make it more convenient.
I'll ping you back if I got something.

[2020-01-06 09:51] bezrazli4n0 opened #2 "MasterWindow background color"
How can i change background color for MasterWindow?

[2020-01-06 10:18] AllenDang commented on #2
@bezrazli4n0
I just pushed a new version of MasterWindow constructor, check it out.

[2020-01-06 10:18] #2 closed

[2020-01-07 13:29] bezrazli4n0 opened #4 "InputText in TabItem not working."
Hi, i can provide simple code for demonstrate the problem:
[code]

[2020-01-07 13:31] bezrazli4n0 commented on #4
Ohh.., the problem is because InputText with empty 'label' property, i think this is a bug, if we change empty to space symbols all work correctly.
[code]

[2020-01-08 10:23] AllenDang commented on #4
It's not a bug, the reason is imgui will manage the inputtext's state by it's id...

[2020-01-08 10:23] #4 closed

[2020-01-08 12:01] bezrazli4n0 commented on #4
Ok, but how to hide this label next to widget?

[2020-01-09 08:54] AllenDang commented on #4
@bezrazli4n0 Add "##" as prefix for the id. For example "##hiddenId".

[2020-01-09 08:55] bezrazli4n0 commented on #4
Oh thanks)

[2020-01-18 18:40] bezrazli4n0 opened #5 "Widget rendering by condition."
Hi, how i can render widgets by conditions with new layout system?, for ex. if true => render button. With previous layout system it's will possible.

[2020-01-19 12:48] AllenDang commented on #5
@bezrazli4n0 Thanks for your usage for giu. I redesigned several times of the layout system recently, I hope it doesn't waste too much of your time to refine the existing code.
With the latest version, I add back the Custom widget, which you could use it as before. And I also added a new widget called Condition which aims to your case, try it out.

[2020-01-20 03:28] #5 closed

[2020-01-21 19:47] ocornut opened #7 "Underlying library is called "Dear ImGui""
Hello,
Could you alter textual mentions of "imgui" into either "dear imgui" or "Dear ImGui" ? (both are interchangeable).
Thaank you,
Regards!

[2020-01-21 19:50] philiplb opened #8 "System dialogs like opening or saving files"
Hi,
great project, I would instantly try it out if there was one feature:
Are system dialogs like opening or saving files supported? :)

[2020-01-22 02:58] AllenDang commented on #7
@ocornut Sure thing!

[2020-01-22 03:09] #7 closed

[2020-01-22 03:10] AllenDang commented on #8
@philiplb You could use this lib to open cross-platform system dialogs.

https://github.com/sqweek/dialog

[2020-01-22 03:10] #8 closed

[2020-01-22 07:28] philiplb commented on #8
Excellent, thx!

[2020-01-22 08:01] sndnvaps opened #9 "cannot go get it"
![捕获](https://user-images.githubusercontent.com/1549019/72875968-6a568100-3d30-11ea-8b2e-cb82361e5ae3.PNG)

[2020-01-22 08:05] AllenDang commented on #9
@sndnvaps May I ask what's your OS and go version?

[2020-01-22 08:14] sndnvaps commented on #9
os: win7 x64
go version: go1.13.1 windows/386

[2020-01-22 08:19] AllenDang commented on #9
@sndnvaps Let me take a look. It works on Windows 10 x64. Really weird.

[2020-01-22 08:25] sndnvaps commented on #9
i have google it
[code]

it may be better to change it to uint32 or uint64
[code]

[2020-01-22 08:28] AllenDang commented on #9
@sndnvaps I just removed that part of code which is not used by any other parts. go get -u should fix it.

[2020-01-22 08:32] sndnvaps commented on #9
ok ,i can go get it .
thanks.

[2020-01-22 08:32] #9 closed

[2020-01-22 09:12] sndnvaps commented on #9
i have test it on raspberry pi 3b
it can work
go version: go1.13.1 arm

[2020-01-22 10:13] AllenDang commented on #9
@sndnvaps Thanks! I added respberry pi 3b to supported platform.

[2020-01-22 10:39] ocornut commented on #7
Thank you! The repository title still just says "imgui" there and there's another reference in the readme.

[2020-01-22 11:24] AllenDang commented on #7
@ocornut Sorry to miss them. I updated again, should be all of them. :P

[2020-01-22 11:28] AllenDang commented on #7
@ocornut BTW, I'm so glad that you seeing my project!

[2020-01-22 17:52] tensei opened #10 "Cannot get Texture to load win10 x64"
somehow it get's stuck on `texture, err = g.NewTextureFromRgba(rgba)` and the window get's unresponsive

[code]

[2020-01-23 02:15] AllenDang commented on #10
Call NewTextureFromeRgba from a go routine.

[2020-01-23 08:18] tensei commented on #10
worked 👍

[2020-01-23 12:37] AllenDang commented on #10
@tensei You may check Condition widget, it is built for if something build this situation.

[2020-01-23 12:37] #10 closed

[2020-01-23 13:51] J7mbo opened #11 "Add widget dynamically"
Hi, I'm trying to, given the click of a button (in it's triggered func(){}) add another button next to the previous one.

I can't find a concrete example of how to do this because the widgets are not passed by reference. Do I need to copy and re-render the whole window with all it's previous state and just the new button added? How can I achieve this?

Many thanks for the great lib!

[2020-01-23 15:25] sndnvaps opened #12 "add use project of giu"
thanks for @AllenDang
i have make my project with gui now
https://github.com/sndnvaps/ebookdownloader/tree/master/gui

[2020-01-24 05:19] AllenDang commented on #11
1. Use the Condition widget.
2. Create a func returns g.Layout, build what ever You need in it.
3. Use g.Custom widget add bool to indicate when to build a new button.

[2020-01-24 05:21] AllenDang commented on #12
Great! I will add it later today.

[2020-01-24 08:58] J7mbo commented on #11
Excellent, thanks for the options.

[2020-01-24 08:58] #11 closed

[2020-01-24 16:21] sndnvaps opened #13 "giu project not work on Mac"
i have build it with travis-ci
my .travis.yml file
https://github.com/sndnvaps/ebookdownloader/blob/master/.travis.yml

<img width="1680" alt="微信图片_20200125001814" src="https://user-images.githubusercontent.com/1549019/73084721-75fca000-3f08-11ea-977b-4796dcb74c82.png">

[2020-01-24 16:29] #13 closed

[2020-01-24 16:36] AllenDang commented on #12
@sndnvaps Added.

[2020-01-24 16:36] #12 closed

[2020-01-24 17:44] undeadindustries opened #14 "Documentation"
Sorry to put this in "issues". Didn't know where else to put this.

I clicked on the Wiki, but it was the same as the main page.

Is there documentation for this? I'd really like to check it out.

Thanks!!

[2020-01-25 04:04] AllenDang commented on #14
Im creating document now. Needs more time. For now, You could check examples for usage.

[2020-01-25 04:39] sndnvaps commented on #13
@AllenDang have you test giu project on mac platform..
i have got crash when double click the app.

[2020-01-25 05:09] yaBliznyk opened #15 "Typo in readme"
![image](https://user-images.githubusercontent.com/2345820/73116592-737f6200-3f6b-11ea-99ef-b09c068e137c.png)

[2020-01-25 13:16] AllenDang commented on #14
@undeadindustries I created the first page of Wiki, I know it's not enough, but I will keep improving it.

[2020-01-25 13:17] AllenDang commented on #15
@yaBliznyk Thanks! It's fixed.

[2020-01-25 13:17] #15 closed

[2020-01-25 13:40] undeadindustries commented on #14
Thank you so much. This is an exciting project!

[2020-01-25 13:40] #14 closed

[2020-01-25 23:51] anthracis commented on #11
@J7mbo or @AllenDang can You write any example for this case ?

[2020-01-26 00:17] anthracis opened #16 "No references in widget click functions"
Hi. I am really interested about this project! I want to rewrite my old app using this layout but I have problem with events functions. For example: i render buttons based on array of strings. I need to pass this string to click function. There is any option to pass any data to this function or to get reference for clicked button ?

[code]
I know that this code is wrong but it explains my problem

[2020-01-26 03:27] AllenDang commented on #16
Here is a demo

[code]

[2020-01-26 07:51] fxfactorial opened #17 "Can't link successfully but have required input"
/usr/lib/x86_64-linux-gnu/libGL.so
/usr/lib/x86_64-linux-gnu/libGL.so.1
/usr/lib/x86_64-linux-gnu/libGL.so.1.7.0

uname -a
Linux edgar-ThinkPad-X1-Extreme-2nd 5.3.0-26-generic #28-Ubuntu SMP Wed Dec 18 05:37:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

go build -ldflags '-L /usr/lib/x86_64-linux-gnu -w -extldflags "-static"' gui/main.go
# command-line-arguments
/home/edgar/.gimme/versions/go1.13.6.

[2020-01-26 09:35] remeh opened #18 "Linux support"
You've noted in the README that you may need some help for the Linux testing, I can probably do that for you.

As far as I've tested it, giu works well on Linux, everything I've tested in the `widgets` example worked well. The `dynamicloadfont` did not work though, even by providing a correct path to a valid `ttf` font but the error doesn't look alarming:

[code]

Thanks for the lib, it is awesome

[2020-01-26 09:42] iwasaki-kenta opened #19 "WebAssembly support"
Is there any planned support coming up for WebAssembly to build GUIs in the browser?

[2020-01-26 10:31] Nicify opened #20 "The `CursorPos` does not update"
[code]
https://github.com/inkyblackness/imgui-go/blob/b0afda23d6d95414a79bfe1472b470a281d1c483/imgui.go#L675

[2020-01-26 11:25] AllenDang commented on #18
Thanks very much! All the demo in examples works except dynamicfont?

[2020-01-26 11:27] AllenDang commented on #17
May I ask what are you trying to do? Build the project? Build a test project of your own?

[2020-01-26 11:27] AllenDang commented on #20
What are you trying to archive?

[2020-01-26 11:30] AllenDang commented on #19
@iwasaki-kenta I dont know much about web aseembly...
Is it valuable to support web assembly?
I think there are so many UI frameworks for web.

[2020-01-26 11:58] AllenDang commented on #18
@remeh Can you provide the changed dynamicfont code which reports the error?

[2020-01-26 17:00] fxfactorial commented on #17
Build the code example of yours in readme

Sent from my iPhone

[2020-01-28 03:15] #20 closed

[2020-01-28 03:16] #16 closed

[2020-01-30 12:14] remeh commented on #18
@AllenDang I'll do that asap!

[2020-01-31 03:07] AllenDang commented on #13
@sndnvaps Yes, mac is tested on MacOS 10.15. Is there still crash? It seems something is not proper initialized.

[2020-01-31 07:57] sndnvaps commented on #13
not sure now .i just test in my friends mac book.
i dont have mac book. so i cann't fix it ....

[2020-02-01 10:54] AllenDang commented on #17
@fxfactorial I'm not a linux user, so I'm afraid I cannot provide much help on this. I'll leave this issue open in case someone could figure out how to fix.

[2020-02-05 18:10] pztrn opened #21 "Label auto-wrap"
It'll be very good if labels will auto-wrap based on parent widget/layout/window sizes.

[2020-02-06 01:59] AllenDang commented on #21
@pztrn You could archive auto-wrap by doing this

[code]

PushTextWrapPos could work on any widget which displays text.

[2020-02-06 06:10] pztrn commented on #21
Thanks for recipe!

This issue about providing auto-wrap, so users won't bother about custom widgets (like in all other toolkits - they have something like ``Label.SetWordWrap(true)``).

What if do something like imgui::TextWrapped (https://github.com/ocornut/imgui/issues/70) but for labels?

[2020-02-07 06:30] AllenDang commented on #21
@pztrn Sure thing! That's really convinient. I just added a widget "LabelWrapped".

[2020-02-07 08:30] pztrn commented on #21
Thanks, tested and it works!

[2020-02-07 08:30] #21 closed

[2020-02-07 09:02] pztrn opened #22 "DPI awareness not working"
Using commit bccdc445689825f69fd0c43c31d97ce713ab64d0

DPI awareness (autoscaling based on system settings, in my case - 175% in Windows 10) works only with default font. But when I tried to use another font (Go Regular) - I have to do scaling manually and choose larger font size, e.g.:

[code]

Which isn't "DPI awareness" at all. Am I miss something important here, or it is a bug?

[2020-02-07 14:06] AllenDang commented on #22
@pztrn
Current implementation of DPI awareness is actually multiply any size with Context.GetPlatform().GetContentScale().

If you use custom font, multiply the font size with this factor will do the trick.

fonts.AddFontFromMemoryTTF(goregular.TTF, 24 * giu.Context.GetPlatform().GetContentScale()

[2020-02-07 14:10] AllenDang commented on #22
@pztrn Btw, I'm working on wrapping font related APIs to cover that part with DPI awareness.

[2020-02-07 14:42] pztrn commented on #22
Got:

[code]

When trying to use ``giu.Context.GetPlatform().GetContentScale()`` in loadFont func for MasterWindow. Looks like it isn't initialized at the moment when loadFontFunc is called.

[2020-02-07 15:58] AllenDang commented on #22
@pztrn Sorry, my bad. That's a little bit tricky. I'll check if I can do it inside, get back to you later.

[2020-02-08 13:43] AllenDang commented on #22
@pztrn I fixed this issue. Try to use platform.GetContentScale() again, it should work now.

[2020-02-08 14:30] AllenDang commented on #22
@pztrn I've finished the DPI awareness for AddFontxxx functions. So right now you just need to AddFontXXX as usual and the size will be scaled automatically.

[2020-02-08 22:43] remeh commented on #18
Hey @AllenDang I had the chance to look into this again:

![image](https://user-images.githubusercontent.com/1798689/74092995-52bb1e80-4acc-11ea-890a-f15fa6f126d2.png)

I've runned all examples succesfully! Even the dynamicfont works in the end, I've just had to:
  - change the font used to a TTF one (I don't have any `.ttc` available unfortunately and a quick Google search didn't do it)
  - becau

[2020-02-09 04:04] pztrn commented on #22
Working, thanks!

[2020-02-09 04:04] #22 closed

[2020-02-09 15:36] pztrn opened #23 "Incorrect first table line height calculation"
First line in tables won't recalculate it's height with LabelWrapped used inside. Second line is okay:

![изображение](https://user-images.githubusercontent.com/869402/74104859-d16e9500-4b7a-11ea-9ff8-fae6d4220fa0.png)

[2020-02-09 15:53] pztrn commented on #23
That's how table rows are generated:

[code]

[2020-02-09 18:49] saucesaft opened #24 "NewMasterWindow serialization"
Is there any possibility to Serialize the MasterWindow struct into a file, and then have other programs read the struct and have the capabilities of accesing giu functions as adding more windows inside the main window?
As like having a server/client architecture where the server creates the MasterWindow and writes the struct to a file while having the main window open. Then if i open the client ap

[2020-02-09 21:25] saucesaft commented on #24
What i've been seeing is that i'll need to serialize the struct, but the struct fields are private. I made a fork and tried to change them into public by making the first letter upper case and changing other field references after but other problems came out. How can we easily make the MasterWindow struct public for easier Serialization?

[2020-02-10 02:39] AllenDang commented on #24
A easy approach is create a Custom struct say "WindowParam", it contains all parameters to create a real master window.
And create a function to create master window like WindowBuilderFunction(param *WindowParam).

[2020-02-10 03:03] AllenDang commented on #23
@pztrn Looks like it's a but for imgui, I reported it to imgui. And I also will look into C++ part to see if I can fix it by myself.

[2020-02-10 04:03] saucesaft commented on #24
Hey, thanks for answering. You mean creating an identical struct to the MasterWindow struct? Could you develop a little more? or is there any possibility you could make the MasterWindow's fields public so that i could serialize them?
Thanks :)

[2020-02-10 06:36] AllenDang commented on #24
[code]

And I don't think make the internal param of MasterWindwo is a good idea, because changing those param will bring unnecessary risks for users.

[2020-02-10 06:45] AllenDang commented on #18
@remeh Thank you sooooo much for helping me on this. Feel free to open issue if you meet any bug or inconvinient or suggestion. :P

[2020-02-10 06:45] #18 closed

[2020-02-10 10:59] AllenDang commented on #23
@pztrn It's fixed. It's not a bug of imgui. This issue is on my side.

[2020-02-10 12:15] pztrn commented on #23
Confirming, thanks!

[2020-02-10 12:15] #23 closed

[2020-02-10 13:31] saucesaft commented on #24
Yeah, i understand the risk of making those fields public. But how could I export the MainWindow struct so that external programs could draw into the main window. By serializing and deserializing the main window struct. Regarding your example, I see how it could work but to assign the values to the custom struct there's need to have access to the main window struct fields so that I can assign them

[2020-02-10 14:35] AllenDang commented on #24
@saucesaft Sorry, I don't quite understand what are you trying to do here. Can you describe more specific about the scenario?

[2020-02-10 14:59] saucesaft commented on #24
Dont worry, let me explain more detailed.
I have 2 programs, one server and one client.
If i run the server program, it will launch a MasterWindow, with no giu/imgui subwindows inside.
If i run the client program after the server, it will open a giu/imgui subwindow inside the MasterWindow.

This is basically my idea, and i tried to implement by making the server expose the MasterWindow struct and

[2020-02-11 02:20] AllenDang commented on #24
@saucesaft It sounds like a classic Browser/Server structure. Treat your server as Browser and client as Server. Is there any special reason that you cannot simply write a http server application?

[2020-02-11 16:42] pztrn opened #25 "Consider adding some communication channel (chat, mailing list, etc.)"
This is not a very high priority of course, but it will be good if such communication channel with you (or other who might join to development) exist. For example gitter room, channel at Gophers slack, IRC channel, Telegram group, or even plain old mailing list.

Reason - to keep issues tracker clean of chats.

[2020-02-12 00:19] saucesaft commented on #24
The thing is that i would like to program a DAW (Digital Audio Workstation), where there would be one big main window with many subwindows inside. I would like to have an external programs that if runned would open a subwindow inside the big main window. Kind of like a unix-philosophy DAW, where every thing should be handled by different mini programs. For example, lets say i run the file-selector

[2020-02-12 03:11] AllenDang commented on #25
@pztrn Good suggestion! It's done.

[2020-02-12 03:30] AllenDang commented on #24
@saucesaft Base on your description, I don't think make MainWindow fields public will do any help.
Because the content of MasterWindow is created by loop function and in that function, you don't need to access any of the fieds MasterWindow has.
Here is few solutions comes to my mind.

1. MasterWindow is responsible to show giu.Layout passed from client, handle user event (button click, combo selec

[2020-02-12 05:07] saucesaft commented on #24
Really thank you for helping me.
Regarding your previous comment, i think i have some implementation ideas and seen how it could work.
For the solution 1 you shared i have the idea of having a "null" giu.Layout. But then lets say i use some ipc magic and make a request to the main program from a client. The client could have its own giu.Layout function as a variable and send it to the main program

[2020-02-12 05:22] AllenDang commented on #24
@saucesaft giu.Window has a flag to indicate it's not movable, you could use giu.WindowV and specify any costom window flags you need.

And yes, giu wraps some of the event handling functions, you could find them in Events.go.

[2020-02-12 07:04] #25 closed

[2020-02-12 12:40] saucesaft commented on #24
Ok I got it. Thanks a lot for helping me! :grinning:

[2020-02-12 12:40] #24 closed

[2020-02-14 04:10] saucesaft commented on #17
I'm a linux user, can you post the error print and distro please.

[2020-02-14 04:21] fxfactorial commented on #17
@saucesaft its all written in the first post

[2020-02-14 13:12] remeh opened #27 "Issue on macOS with an external monitor"
While running the `widgets` example, I can't click or interact with anything in the window if I'm using an external monitor with a Mac having the lid closed. Hopefully, it works if the lid is opened (on both the Mac screen and on the external monitor).

Something that may be interesting is that I can interact with the inputs (editfield and button) in the `loadimage`,  `simple` and `helloworld` exa

[2020-02-14 13:16] AllenDang commented on #27
@remeh This is really weired. I'll check it out. May I ask what lid stands for?

[2020-02-14 13:20] remeh commented on #27
I've used "lid" to speak about the Mac screen. I'm using my Mac with its screen closed, connected to an external monitor.

[2020-02-15 02:13] AllenDang commented on #27
@remeh I see, my macbook is not by my side now. I will return to office at about 5 days. Sorry cannot test and solve it now. :P

[2020-02-15 09:14] remeh commented on #27
Sure, no rush :)

[2020-02-16 15:45] UnnoTed opened #28 "ImageButton shows no image"
Result:

A tiny button with nothing in it, click event works but the image isn't inserted into the button.
![](https://i.imgur.com/96Izs3Q.png)

Code:
[code]

[2020-02-16 23:07] aleksandrzhiliaev opened #29 "DPI scale - unexpected behavior"
This commit https://github.com/AllenDang/giu/commit/27ecca73d762cacc8bdd23e12dd18c07b76623ab
breaks UI rendering on high monitor resolution.

Before:
<img width="701" src="https://user-images.githubusercontent.com/12209346/74614577-414fc300-5119-11ea-9a20-5549c26307de.png">

After:
<img width="712" src="https://user-images.githubusercontent.com/12209346/74614584-50cf0c00-5119-11ea-9d7f-a895554a1c4

[2020-02-17 03:46] AllenDang commented on #28
@UnnoTed Thanks to report this issue. It's a bug and it's fixed now. And BTW you may need to set width and height explicitely.

[2020-02-17 04:27] AllenDang commented on #29
@aleksandrzhiliaev Can you help me to do a test? What's the return value of giu.Context.GetPlatform().GetContentScale()?
It seems the UI is zoomed twice.
The DPI scale works well on both Windows and MacOS, what desktop OS you are using?

[2020-02-17 08:21] aleksandrzhiliaev commented on #29
It returns 2

I use Mac OS Mojave and Catalina.

[2020-02-17 12:23] AllenDang commented on #29
@aleksandrzhiliaev I see. I will test it on Mac. Get back to you soon.

[2020-02-17 12:37] AllenDang commented on #29
@aleksandrzhiliaev Can you help to test now? I used to get the content scale factor from primary monitor. Now I changed it to get from current monitor where the master window is displayed.

[2020-02-17 14:50] aleksandrzhiliaev commented on #29
@AllenDang, it is still 2

[2020-02-19 02:12] #28 closed

[2020-02-22 08:40] remeh commented on #29
I can report having the same issue. `giu.Context.GetPlatform().GetContentScale()` also returns 2 (macOS, Mojave).

[2020-02-26 07:52] AllenDang commented on #29
@remeh @aleksandrzhiliaev I just reproduce this bug on Mac. I will get it fixed soon.

[2020-02-26 08:05] AllenDang commented on #29
@aleksandrzhiliaev @remeh It should be fixed now.

[2020-02-26 12:58] remeh commented on #29
Hey! It's getting better but there is still some issues.

First, there is a discrepancy in some padding if an external monitor is plugged in and when there is not:

<img width="491" alt="Capture d’écran 2020-02-26 à 13 48 08" src="https://user-images.githubusercontent.com/1798689/75346439-ffecaf80-589e-11ea-8be9-7c92f913c5e2.png">

The left one is the app started when no external monitor was plu

[2020-02-27 06:32] AllenDang commented on #29
@remeh Yes, it's very helpful. I notice that MacOS will auto scale UI element, both font and other size, so I may not need to scale them again. I'll test it tomorrow when I got a Macbook by my side.
Get back to you soon.

[2020-02-27 15:31] AllenDang commented on #16
Incase anyone who met this issue. I added a RangeBuilder to handle this properly. Check examples/rangebuilder for usage.

[2020-03-03 10:42] pztrn opened #30 "Unsafe pointer arithmetic"
I've compiled application with ``-race`` and it crashed right before showing up GUI.

[code]

[2020-03-04 02:37] AllenDang commented on #30
It's a wrapper for a C pointer. I need to dig a little bit more about what -race does. BTW, it works fine in normal mode.

[2020-03-04 05:43] bfreis opened #31 "Multiple windows?"
Hello,

Is there a way to open multiple windows?

Thanks

[2020-03-04 06:36] AllenDang commented on #31
Currently no, but I'm considering to add this feature. May I ask what's your use case?

[2020-03-04 07:02] pztrn commented on #30
Yep, I agree, but this will prevent running application with ``-race`` for race detection which is not good IMO.

[2020-03-04 07:08] pztrn commented on #31
I can say mine - dialog windows (about, settings and so on) in more familiar manner, as separate windows.

[2020-03-04 07:54] AllenDang commented on #30
@pztrn Yes, you got the point. I will dig it out.

[2020-03-04 07:54] AllenDang commented on #31
@pztrn Sure. I will add this in the plan.

[2020-03-04 23:38] bfreis commented on #31
I'm ingesting a ton of real time data from some financial markets, running
a bunch of calculations, and want to display quite a lot of information in
some very custom ways. I'd like to be able to have separate windows for
different pieces of data, so that I can freely move them around and put
them next to other windows from other software. Hope this is clear! Thanks

On Tue, Mar 3, 2020, 10:36 PM

[2020-03-06 04:12] AllenDang commented on #31
@bfreis Got it. I will work it out at this weekend.

[2020-03-07 05:06] AllenDang commented on #31
To implement multiple OS window is more complicate than I thought...
Need more time to figure it out. Sorry about that.

[2020-03-07 05:48] bfreis commented on #31
No worries, I did some more research and also found it to be considerably
more complex than I initially thought!

FWIW, I found a solution that works for me (but may not work for others).
I'll summarize it here in case anyone may find it useful. Also, please note
that I haven't ever used Dear Imgui before, so I may be using wrong
terminology.

It seems like Dear Imgui (or its Golang bindings, dunn

[2020-03-07 06:13] AllenDang commented on #30
This issue caused by converting uintptr to a C void* pointer. Anyone knows how to avoid this crash?

[2020-03-07 06:19] AllenDang commented on #31
@bfreis This is certainly a workaround to launch multiple processes instead of create multiple os windows.
BTW, I noticed that imgui already implemented this feature (I mean create multiple os windows) in it's viewport branch. And this is possible to do it from the document I found for GLFW.
I need to read more about OpenGL context.
Glad to hear that your problem is solved!
I will keep looking for

[2020-03-12 06:15] pztrn commented on #29
Any updates on this? Just tried to compile with latest master and jeez, everything is so big...

[2020-03-12 07:02] AllenDang commented on #29
@pztrn Which platform your are running? Everything is so big?

[2020-03-12 07:05] pztrn commented on #29
Sorry, it's macOS (Mojave and Catalina).

[2020-03-12 07:08] AllenDang commented on #29
@pztrn Try it now. It should be fixed.

[2020-03-12 07:48] pztrn commented on #29
@AllenDang well, nope :(

After doing some testing I was able to get properly scaled (or, better say, unscaled) and more-or-less-good loking fonts by commenting out ``imgui.DPIScale = scale`` in ``MasterWindow.go``, but checkboxes, menus, buttons and paddings are too big yet comparing to Linux/Windows rendering.

[2020-03-12 07:59] AllenDang commented on #29
@pztrn How about now? I disabled the content scale in Platform level.

[2020-03-12 08:03] pztrn commented on #29
@AllenDang now it matches Windows and Linux 👍

[2020-03-12 08:29] #29 closed

[2020-03-12 08:44] remeh commented on #27
Fixed, more infos in #29
Thank you @AllenDang !

[2020-03-12 08:44] #27 closed

[2020-03-17 12:36] gozjw opened #32 "how to supports chinese ?"
how to supports chinese ?

[2020-03-17 14:15] #32 closed

[2020-03-17 14:16] gozjw commented on #32
found on wiki
Light.ttc

[2020-03-18 06:55] bezrazli4n0 opened #33 "giu and goroutines"
Hello, i have checked example about updating variables from another goroutine, but if i moving the window no gui update happen.

[2020-03-19 04:31] AllenDang commented on #33
@bezrazli4n0 It should be fixed now. Can you help to test it?

[2020-03-19 05:08] bezrazli4n0 commented on #33
No, not fixed.
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/56516965/77033610-c5b39100-69b8-11ea-9be6-b8c1340794d7.gif)

[2020-03-19 05:22] AllenDang commented on #33
@bezrazli4n0 Can you tell me more detail about your case?

[2020-03-19 05:28] bezrazli4n0 commented on #33
I want the value to change as the window moves. [This](https://github.com/AllenDang/giu/blob/master/examples/update/update.go) sample not working when i move the window.

[2020-03-19 05:50] AllenDang commented on #33
@bezrazli4n0 I just tested on MacOS and Windows, it works. Maybe there is a lag that you are not getting the newest code from main branch.

[2020-03-19 08:01] bezrazli4n0 commented on #33
Maybe. I test that code on windows 10 pro.

[2020-03-20 20:19] saucesaft opened #34 "Get mouse position"
Is there a function inside Giu or Imgui that gives the mouse position inside the window?
Thanks :)

[2020-03-20 20:21] saucesaft commented on #31
If this helps, the imgui implementation in rust has the option of multiple windows.

[2020-03-21 02:59] AllenDang commented on #34
@saucesaft What's your use case?

[2020-03-21 03:06] AllenDang commented on #31
@saucesaft Thanks, I'll check it out.

[2020-03-21 13:44] AllenDang commented on #33
@bezrazli4n0 This is a bug of GLFW 3.3... The Window.PosChange event doesn't work on Windows.

[2020-03-22 22:04] saucesaft commented on #34
I was thinking for some "on hover show the widget", but i saw in the examples the onHover() function. Which seems to satisfy the need of knowing the position of the mouse. Thanks!

[2020-03-22 22:04] #34 closed

[2020-03-26 18:35] stigok opened #35 "Versioning"
Thanks for an interesting project! I'm getting to know it right now for a vending machine project I'm working on.
I see that you jumped version numbers, from 0.3 to 0.31 and 0.32. Please note, that according to semantic versioning, a future version 0.4 will *not* be a later version than 0.31 as the version numbers are commonly separated by punctuations `.` as in `<Major>.<Minor>.<Patch>`.

A way o

[2020-03-27 05:35] AllenDang commented on #35
@stigok Thanks very much for reminding me this! I'll check it out.

[2020-03-27 05:44] AllenDang commented on #35
@stigok I'd have to remove all existing branches and release a new v0.4.

[2020-03-27 08:10] stigok commented on #35
Yeah, but that could make problems for those who are already using the repo. There's nothing wrong in doing next version as 0.34.0, and starting fresh from there.

[2020-03-27 11:25] AllenDang commented on #35
@stigok My bad....

[2020-03-29 07:48] #35 closed

[2020-03-30 03:19] AllenDang opened #36 "PopupModal doesn't work in menu."
This is caused by the selectable and menuitem will invoke CloseCurrentPopup automatically and will close PopupModal which is just opened.

This could be handled inside giu.

[2020-03-30 03:38] AllenDang commented on #36
Currently you could use this walk around.

[code]

[2020-03-30 17:08] stigok opened #37 "Add project to awesome-go"
There's a list of [awesome Go projects called awesome-go][awesome-go]. None of the other GUI projects there seem to be similar to this one.

[awesome-go]: https://github.com/avelino/awesome-go#gui

[2020-03-31 03:06] AllenDang commented on #37
@stigok Aha, thanks. I will make a pr today.

[2020-03-31 12:00] AllenDang commented on #37
@stigok I need to write testing code to increase coverage before doing that. That may cost some time.

[2020-03-31 20:17] stigok commented on #37
Yeah, I saw. But the need to have a coverage report may not necessarily mean that you need tests, but that the users can see how much/little of your codebase is covered. I found two alternatives that may be easy to set up
- https://github.com/marketplace/codacy
- https://github.com/marketplace/codecov

I don't mean to hassle you. Just close if you're not up for this work :)

[2020-04-01 05:03] AllenDang commented on #37
@stigok All kinds of pr is welcome! I'm thinking about how to do the tests now. It seems kind of hard to cover C++ part...
I'm checking fyne, they seems did a very high coverage.

[2020-04-05 14:16] topxeq opened #39 "Make Chinese Font loading more fast"
Now the loading duration of Chinese font is a little bit slow (using AddFontFromFileTTFV and builder.AddRanges(fonts.GlyphRangesChineseSimplifiedCommon()), if using GlyphRangesChineseFull, will be much more slower).

Could it be better to load Chinese font quickly(I need at least common Chinese characters, not only specific characters)? Thanks.

[2020-04-06 13:36] AllenDang commented on #39
@topxeq This is a issue comes from the font atlas mechanism of imgui. I raise an issue about it. But it is not the high priority.
Currently, you could enable freetype. This is much faster.
To enable freetype, invoke imgui.EnableFreeType = true, and add use following cmd to build.
go build -tags imguifreetype .
You need msys2 to build it under Windows.

[2020-04-08 17:14] acisternino opened #40 "Support built-in styles"
Hi,

Original Dear Imgui supports three built-in styles:

- Classic
- Dark
- Light

that are selectable using the three functions:

- `StyleColorsClassic()`
- `StyleColorsDark()`
- `StyleColorsLight()`

Unfortunately my not so young eyes are having increasing problems using dark themes with small fonts. It would be great if support for at least those three styles could be added to the library. Tha

[2020-04-09 07:06] AllenDang commented on #40
@acisternino Fully understand. I'll add it.

[2020-04-09 13:04] AllenDang commented on #40
@acisternino It's done. You could change style like this.

wnd := g.NewMasterWindow(...)
imgui.StyleColorsLight()
wnd.Main(loop)

[2020-04-09 15:47] acisternino commented on #40
Works flawlessly!
Thanks a lot!
![giu-light](https://user-images.githubusercontent.com/475646/78914048-2ef36500-7a8a-11ea-8564-d75075200443.png)

[2020-04-09 15:47] #40 closed

[2020-04-10 04:19] Sacules opened #41 "Add missing documentation"
Although there's plenty of info in the wiki, most of the types and functions don't show up any documentation when using godoc or pkg.go.dev. As someone unfamiliar with Dear Imgui it's not obvious at all what a `builder` is or what `NewGlyphRanges()` even does and why it's necessary to load fonts. So it'd be nice to have more information for all of them :)

[2020-04-10 04:55] AllenDang commented on #41
@Sacules Sure thing. I'm working on it :)

[2020-04-25 04:07] #17 closed

[2020-04-27 10:48] JiajunDou opened #43 "Is it possible to add a Window Icon?"
I got a blank program icon in Ubuntu docker when the demo running.

:)

[2020-04-28 08:23] AllenDang commented on #43
@JiajunDou You may need to dig around for the solution for Ubuntu. Here is the solution I'm using for Windows.
I will use ResourceHack and add icon to the compiled exe.

[2020-04-28 14:30] JiajunDou opened #44 "Can't set background color"
[code]

[code]
I tried to modify these two places but nothing happened.T_T

[2020-04-29 04:48] AllenDang commented on #44
@JiajunDou I guess you are using g.SingleWindow in the loop, SingleWindow has opaque background and it will cover MasterWindow fully, that's why change bg of MasterWindow seems doesn't work.
You could use g.PushColorWindowBg to change the bg color of SingleWindow.

[2020-04-30 02:06] azah opened #45 "how to set fonts?"
I have a demo like this:

[code]
but when I run giu, I only see ??? for the button.

[2020-04-30 02:54] AllenDang commented on #45
@azah You don't have to use GlyphRangeBuilder at all.

[code]

It's enough.

[2020-04-30 03:07] azah commented on #45
@AllenDang that's what I tried first. I still get ???'s with that.

[code]

[2020-04-30 03:34] AllenDang commented on #45
Change
`wnd := g.NewMasterWindow("Widgets", 1024, 768, 0, nil)`
to
`wnd := g.NewMasterWindow("Widgets", 1024, 768, 0, loadFonts)`

[2020-04-30 03:50] #45 closed

[2020-04-30 15:23] ryn1x opened #46 "Clarify "based on ... golang binding imgui-go.""
Can you clarify how this project is related to imgui-go? Is it an abstraction or layer above imgui-go or does it extend that project with additional features?

[2020-04-30 19:40] JonSnowbd opened #47 "GetItemRect methods aren't in the bindings"
https://github.com/AllenDang/giu/blob/master/imgui/imgui.h#L686

These 3 functions are pretty important for custom drawing, and I don't think the bindings include them.

[2020-05-01 03:17] AllenDang commented on #47
@JonSnowbd Sure thing, I'll add them soon.

[2020-05-01 03:18] JonSnowbd commented on #47
I appreciate it! Loving the framework

[2020-05-01 03:19] AllenDang commented on #46
@ryn1x This project is an abstraction layer above imgui-go with a lot of changes (more imgui APIs
 are wrapped,  changes in Platform and Renderer and some API changes).

[2020-05-01 03:39] ryn1x commented on #46
Thank you. This is a really great project. I started using it today!

[2020-05-01 15:19] #46 closed

[2020-05-02 20:45] rjablecki opened #48 "Fonts - problem with latin extended"
Hello, I have problem with polish characters like `ąśćłóĄ` etc. My code below:

`	fonts := g.Context.IO().Fonts()
	fontPath := "OpenSans-Regular.ttf"
	fonts.AddFontFromFileTTFV(fontPath, 16, imgui.DefaultFontConfig, fonts.GlyphRangesDefault())`

Polish characters are replaced with ?. How to solve this problem ?

[2020-05-05 02:12] AllenDang commented on #48
@rjablecki
The fonts.GlyphRangesDefault controls what character will be displayed.
To display chinese, I will use GlyphRangesChineseCommon, so I guess latin works the same.
I think ImGUI should have latin glyph ranges defined.
Sorry that I cannot give a direct answer, because I'm on the train.

[2020-05-06 19:17] ryn1x opened #49 "Can't always get correct size of content region"
Sometimes when I call `imgui.ContentRegionAvail()` I get the current size of the content region, but other times I do not.

For example, in the following snippet I display an image and a histogram in a split layout. The histogram correctly fills it's content area, but the image does not. If I instead use -1 as the image width and height it does fill the area, but as far as I can tell that just eve

[2020-05-07 02:54] AllenDang commented on #49
@ryn1x The reason you feel the ContentRegionAvail doesn't work is, when you call it in g.Image, the split layout doesn't really be created, so at the moment available region is the whole window.

Because g.Layout is a struct, it will be created BEFORE the actual imgui widgets creation.

To get the expected content region, create g.Image inside g.Custom like below.

[code]

[2020-05-07 03:22] ryn1x commented on #49
Thanks! This works. I get a feedback loop now because my height depends on width and the vertical scroll bar is flashing on and off. Is there a way to just permanently enable the vertical scrollbar in just this split? Or find the width of the scroll bar to offset by?

[2020-05-07 03:37] ryn1x commented on #49
I have found "WindowFlagsAlwaysVerticalScrollbar", but no examples use WindowFlags, only MasterWindowFlags.

[2020-05-07 04:02] ryn1x commented on #49
Not sure if it is the best way (got the idea from some C++ code), but I got it working with:
[code]

[2020-05-07 04:26] AllenDang commented on #49
@ryn1x That's the correct way to do it. But you could simply use g.Child to wrap up the code.

[2020-05-07 06:50] ryn1x commented on #49
Ah ok. Thank you so much! What an awesome job you have done with this project!

[2020-05-07 06:52] #49 closed

[2020-05-07 11:33] AllenDang commented on #47
@JonSnowbd GetItemRectMin, GetItemRectMax and GetItemRectSize are wrapped. You could use them by invoking imgui.GetItemRectxxx

[2020-05-07 11:48] JonSnowbd commented on #47
Thanks a lot, I appreciate it!

[2020-05-08 03:04] #47 closed

[2020-05-17 10:18] Sann0 opened #52 "Use existing *glfw.Window?"
Im trying to integrate giu with github.com/faiface/pixel. Since pixel is using glfw aswell is there a way to draw a giu SingleWindow into a existing *glfw.Window?

I also want to ask how I could manually quit the giu mainloop since I'm using the frameless window flag.

[2020-05-19 02:32] AllenDang commented on #52
@Sann0 Sorry for the late response. I'm not very familiar with opengl, but inside giu, it uses opengl as render and glfw as platfomer. Theoretically it can be integrated into your engine with different platformer implementation.

[2020-05-23 14:29] darkermatter commented on #16
Hi Allen,

I'm generating a table and I want a button in each row. The problem I'm having is that the button ID and label are the same value. Is there any way to get around this?

Thanks!

[2020-05-25 02:32] AllenDang commented on #16
@darkermatter
The demo code I've given in this thread (look upper) could solve this issue.

[2020-05-25 05:41] darkermatter commented on #16
Hi Allen,

the label will still have the same string as the identifier. So, I can't have a button on each row labelled "delete", it would end up being "delete-0001", "delete-0002", etc.

[2020-05-25 05:42] darkermatter commented on #16
Wait, is the ## some sort of tag indicator?

[2020-05-25 05:45] darkermatter commented on #16
Okay, just tested it and the '##' makes all the difference, thank you so much! :-)

[2020-05-26 19:56] charlesdaniels opened #53 "Add Bindings for implot"
[See relevant discussion here](https://github.com/AllenDang/giu/pull/50).

I am opening this issue to track progress and discuss binding implot into GUI.

I had started looking at this and then got distracted. Hopefully I will get at least something basic going before I get distracted again :).

So far, I have really, really basic `sin()` plot working ([relevant commit](https://github.com/charlesd

[2020-05-27 02:59] AllenDang commented on #53
@charlesdaniels Issue of PR both is ok :). Thanks for your contribution!

[2020-05-27 14:51] charlesdaniels commented on #53
Ok, I got the line plot demo [implemented](https://github.com/charlesdaniels/giu/commit/11e4c916e81f65f69653c42d17265c457b78bea5). I think this lays most of the groundwork for how the rest of the imgui-go part of the bindings aught to work.

Here are a few issues I think are worth discussing:

---

@AllenDang -- thoughts on how we should wrap the imgui binding up as a GIU widget? The biggest issue

[2020-05-28 12:08] AllenDang commented on #53
@charlesdaniels
For the parameters to generate plot, I prefer to only provide one implementation with simple raw value array. This makes it's easier to understand.

For update imgui-go from up stream, it's a little bit complex, since I've changed a lot (delete some methods, change some interface, etc...). Can you tell more specific what are those nice updates? I could merge them in manually.

For

[2020-05-28 15:34] charlesdaniels commented on #53
@AllenDang

I think that's reasonable. If people really need to do something special, they can always use the new [Wrapper Widget that I created](https://github.com/charlesdaniels/giu/blob/master/Widgets.go#L265).

I will plan to go ahead and write bindings for the full thing, that way if the imgui-go folks or someone else on the 'net wants it, they will have it. We can then pick and choose what f

[2020-06-18 18:55] ryn1x commented on #30
I am getting this same error. This prevents me from using the `-race` tool.  Seems like a pretty big issues since there is a lot of concurrency going on in a typical GUI application and `-race` is really needed.

[2020-06-19 01:25] #48 closed

[2020-06-19 01:25] #44 closed

[2020-06-19 01:25] #39 closed

[2020-06-19 01:25] #36 closed

[2020-06-19 01:25] #33 closed

[2020-06-19 01:25] #19 closed

[2020-06-19 01:27] AllenDang commented on #30
@ryn1x I'll take a look on this deeply this time. This is truly a big issue.

[2020-06-20 14:48] rjablecki commented on #48
I resolved my problem using that code:
`	fonts := g.Context.IO().Fonts()
	builder := imgui.NewFontGlyphRangesBuilder()
	ranges := imgui.NewGlyphRanges()
	builder.AddText("ęóąśłżźćńŁŻ")
	builder.AddRanges(fonts.GlyphRangesDefault())
	builder.BuildRanges(ranges)
	fontPath := "fonts/Lato-Regular.ttf"
	fonts.AddFontFromFileTTFV(fontPath, 14, imgui.DefaultFontConfig, ranges.Data())`

[2020-06-22 18:11] ryn1x opened #54 "[Request] Multiple (child) Windows Demo"
All of the examples use `SingleWindow()` and it would be nice to have an example of the proper way to handle multiple windows with `Window()`. My first guess at how to do it would be something like the code below, but I am unsure what the standard convention is.

[code]

[2020-06-23 13:10] AllenDang commented on #54
@ryn1x Here it is https://github.com/AllenDang/giu/tree/master/examples/multiwindow.

[2020-06-23 13:21] ryn1x commented on #54
Thanks!

[2020-06-23 16:50] ryn1x commented on #54
Are main menu bars supported? I can't seem to figure it out based on studying the docs and some C++ code. I have tried adding this in `loop()`:

[code]

and this:
[code]

[2020-06-24 04:23] AllenDang commented on #54
@ryn1x I've update the multi window demo, check it out.

[2020-06-24 15:10] ryn1x commented on #54
Ah ok. I see now. `.build()` is needed since it is not an argument to something that will call that. Thanks for the update. This is really great!

[2020-06-24 15:10] #54 closed

[2020-07-04 02:25] #43 closed

[2020-07-14 01:33] kettek opened #58 "Enabling INI Support"
Is there any particular reason that the [MasterWindow disables imgui's INI system](https://github.com/AllenDang/giu/blob/862cb808a74133aac9e3483b7dfdd5be82b3aa8e/MasterWindow.go#L45)? Perhaps MasterWindow should take an additional parameter or expose a func that uses IO's `SetIniFilename`.

I am currently enabling INI support by calling `imgui.CurrentIO().SetIniFilename("...")`, though it'd be mor

[2020-07-14 05:32] AllenDang commented on #58
@kettek The reason why disable INI support is multi-sub-window scenario is not common in desktop application development. Unlike the original usage for imgui in game engine.
You could enable it by using this ```g.Context.IO().SetIniFilename("...")```.

[2020-07-14 23:03] kettek commented on #58
Fair enough, closing issue.

[2020-07-14 23:03] #58 closed

[2020-07-16 08:32] mlohstroh opened #62 "No way to close Window from Button"
I love the library and the ability to create quick GUI's on the fly with this.

However, I've run into an issue where I want to essentially stop the event loop because I don't need to maintain a window anymore, but want to run a process in the background. I don't see any way to close the window via a function that I can do via button press?

It looks like all I'd need to do there is stop the Main

[2020-07-17 02:12] AllenDang commented on #62
@mlohstroh
Close main window will result in quit the application. Can I know more about what are you going to archive?

[2020-07-17 02:29] mlohstroh commented on #62
The UI is a very small part of the application. I use it to prompt the user for a username and password before running the rest of the application. It's essentially a log collector, which doesn't really need any information.

I figured whenever I needed to revalidate credentials, I could just open and close that authentication window on the demand, but the hooks for managing that lifecycle do not

[2020-07-17 02:34] AllenDang commented on #62
A quick think solution is:
1. Separate the console and GUI into two applications.
2. Use RPC to communicate.
3. Launch GUI application whenever the console needs user input.

[2020-07-17 05:40] mlohstroh commented on #62
I could certainly redo my architecture do make it work. I was hoping that this could be a library that I could just use a GUI on demand inside the same process. That's fine if that's not the purpose.

Are there any reasons to avoid adding a way to stop the main loop due to OS handling?

[2020-07-17 05:54] AllenDang commented on #62
The major purpose of this package is to be a handy toolkit to create GUI desktop application, not GUI part of a terminal application.

[2020-07-17 06:37] mlohstroh commented on #62
I understand. Thank you for the replies.

[2020-07-17 06:37] #62 closed

[2020-08-07 19:08] roborobs1023 opened #63 "Closing the main form."
How would one go about closing the Master window when an item is clicked in the menu?

`			g.MenuBar(
				g.Layout{
					g.Menu("File", g.Layout{
						g.MenuItem("Close", closeWindow),
						}),
				},
			),`

I love what you have so far this project and I'm currently using it to help build a gui for an Asset Management program I am building. It really is awesome.

[2020-08-10 11:42] AllenDang commented on #63
@roborobs1023 Simply call os.Exit(0) in closeWindow callback like this.
`func closeWindow() {
  os.Exit(0)
}`

[2020-08-10 15:55] roborobs1023 commented on #63
Thank you. I actually found it last night.

[2020-08-10 16:25] roborobs1023 commented on #63
Do you currently have a way of masking an input in a text field? I'm not seeing one in the documentation.
Using it for a login form and need to mask the password field to that the user's password is not displayed while entering.

[2020-08-10 20:48] roborobs1023 commented on #63
Found it. - I wish all of the widgets were documented. such as inputtextV I finally found it nearly by accident.

[2020-08-11 03:13] AllenDang commented on #63
@roborobs1023 Sorry for the missing document. I'm add them one by one now. :P

[2020-08-12 02:30] #63 closed

[2020-08-12 20:48] yarcat commented on #30
The trick here is that there should be no `unsafe.Pointer`. All `void*` should be replaced with `uintptr_t` from `<stdint.h>` (or `<cstdint>`). If `uintptr` -to- `void*` conversion is required, it should be done on C side, not on Go.

Check [this example commit](https://github.com/yarcat/giu/commit/a9b8709df259ae6167d74eb5a883dd755c62b89e), which allows to bypass first of the failures demonstrated

[2020-08-12 22:30] yarcat commented on #30
Unfortunately they also have this in [go-gl](https://github.com/go-gl/example/issues/72) which makes it harder to fix as the rabbit hole is much deeper than I hoped.

[2020-08-13 02:24] AllenDang commented on #30
@yarcat Yeah, I met the same upstream problem last time when I try to fix this.

[2020-08-21 14:44] roborobs1023 opened #67 "Temporarily unmask password field"
I have setup a login window which uses the InputText field with flag InputTextFlagsPassword. My question is how would i set this so I could temporarily allow the user to see the password? Such as clicking on a show password label beside the field. below is a snippet of the current window.

g.Line(
	 g.Dummy(115,0),
	 g.Label("Password: "),
	 g.InputTextV("##password", 200, &u.Admin.Password, g.Inp

[2020-08-24 07:34] AllenDang commented on #67
@roborobs1023 Use an variable to control the InputTextFlags like below

[code]

And change the flags to what ever you need in some other function and call g.Update() to refresh UI.

[2020-08-24 13:07] roborobs1023 commented on #67
Yea that would work. thanks.

[2020-08-24 13:07] #67 closed

[2020-08-24 14:56] roborobs1023 commented on #45
Need to update the documentation on this. When I read the information on the fonts.go document I could not get this working. Thank goodness I found this thread. Even copying the information shared above would be great. Currently, the documentation doesn't mention re-declaring the variable with the path.

It is along the lines of;

fonts := g.Context.IO().Fonts()

ph := fonts.AddFontFromFileTTFV(pa

[2020-08-25 01:16] roborobs1023 opened #68 "iskeypressed not working"
Working with a submission form and I have the following code. What I'm trying to make work is when you fill in the form and then hit enter the same function is performed as when you click the button at the bottom of the form. I'm not sure if I'm entering the wrong integer for the key or what exactly is happening... I used the IsItemHovered function on a selectable widget right after this in the sa

[2020-08-25 02:32] AllenDang commented on #68
@roborobs1023 The key code of Enter is 257. You could get the key code of any key by running imguidemo.go, in the "Inpouts, Navigation & Focus" -> "Keyboard, Mouse & Navigation State".

[2020-08-25 13:18] roborobs1023 commented on #68
Thank you. That is a huge help.

[2020-08-25 13:53] #68 closed

[2020-08-27 02:23] #52 closed

[2020-09-08 02:34] kettek opened #69 "Multiple Window widgets with SplitLayout"
I'm attempting to use multiple WindowV instances for a game editor (a window for each open map, as well as other data types) and ran into the fact that SplitLayout does not work with more than one Window instance.

This is, afaik, due to:

https://github.com/AllenDang/giu/blob/321faa16e79bc7def64dc14488be93748dc33506/Window.go#L62-L68

which clears the Context states, in which the SplitLayout data

[2020-09-08 14:31] AllenDang commented on #69
@kettek I think I know what's going on here. Let me take a look.

[2020-09-14 05:17] AllenDang commented on #69
@kettek The solution is more complicate then I thought, seems the content of inactive window is not refreshed, I need more time to find out what is happening. Sorry for the delay. :P

[2020-09-14 08:27] ogau opened #70 "is it possible to add Push/PopClipRect?"
Here is an example "canvas" from dear imgui demo, that uses the function Push/PopClipRect.
Also i have implemented io.GetDeltaTime()

code: https://play.golang.org/p/QeyEpoz3Db3
![изображение](https://user-images.githubusercontent.com/25056868/93060777-09e3cd80-f68c-11ea-90ce-c4b0844daa7a.png)

[2020-09-14 09:45] AllenDang commented on #70
@ogau Can you create a PR on this?

[2020-09-14 13:50] roborobs1023 opened #71 "Set default focus for textbox."
Trying to figure out what additional code I need in order for the first text field to automatically get focus on the window load.  below is an example of what I currently have but I'm not getting the desired result.

			g.WindowV("Login", &c.Loginwin, g.WindowFlagsNoResize|g.WindowFlagsNoCollapse|g.WindowFlagsNoMove, (mw/2)-70, (mh/2)-90, 140, 180, g.Layout{
				g.Label("Username"),
				g.InputTex

[2020-09-14 16:38] ogau commented on #70
Thanks for your work!

[2020-09-14 16:38] #70 closed

[2020-09-15 08:45] AllenDang commented on #71
@roborobs1023 Use g.SetKeyboardFocusHere() instead of SetItemDefaultFocus()

[2020-09-15 12:53] roborobs1023 commented on #71
I just tried this and for some reason two things are happening: #1. I have to insert the g.Custom widget before my desired textbox and #2 when I do, it disallows tabbing to the next textbox and clicking the buttons. Any idea what could be causing this?

[2020-09-15 13:09] roborobs1023 commented on #71
Got it working using the g.IsWindowAppearing() function.

[2020-09-15 13:09] #71 closed

[2020-09-18 15:29] Koumbaya opened #73 "Align ext to the right ?"
Hi, I'm still learning the library (very impressed btw !). Is there a way to justify the text to the right ?
If there is I'll contribute an example.
Thanks

[2020-09-19 23:48] assaultful opened #74 "Exit Status"
After trying to run some code with this GIU I got the exit status "exit status 3221225477", fyne seems to work fine so I'm not sure what is causing this issue with this GUI.

[2020-09-21 06:02] AllenDang commented on #74
@assaultful Can you post the demo code?

[2020-09-21 13:35] AllenDang commented on #73
@Koumbaya There is no alignment setting for label. But you could use following approach:
┌──────┐                          ┌─────┐
 │       Button       │─────────Dummy──────────▶│Label│
└──────┘                          └─────┘

Set the width of Dummy width to -100, which means the "rest of entire row - 100px".

[code]

[2020-09-21 14:09] Koumbaya commented on #73
Nice, thanks ! It takes off the last 2 chars of my string, but if I put -110 it works perfectly.

[2020-09-21 17:41] assaultful commented on #74
@AllenDang its my friends code that im tryna test to get into golang - its here https://pastebin.com/L7MC4STJ

[2020-09-22 03:20] #73 closed

[2020-09-23 11:47] AllenDang commented on #74
@assaultful Sorry for the late response. One question, exit status 3221225477, do you mean cannot launch application normally and the return value is 3221225477? Or you mean everything works fine just got the return value after exit?

[2020-09-24 00:55] assaultful commented on #74
I mean when I try and do go run main.go for example it just shows that exit value, if I compile to an exe it shows for a split second but then I assume shows the same exit value again

[2020-09-24 04:37] AllenDang commented on #74
@assaultful I think this is not caused by giu itself. You may need to debug other part of the code.

[2020-09-26 13:56] assaultful commented on #74
I have debugged the code and it works on another system

[2020-09-28 05:05] kettek commented on #69
Any progress on this?

[2020-09-29 07:26] AllenDang commented on #69
@kettek I'm working on it now, just few more days.

[2020-10-05 10:34] AllenDang commented on #69
@kettek It is fixed now. Please have a try.

[2020-10-06 02:39] kettek commented on #69
Unfortunately something else must have changed in giu's codebase since the last version I used... I'm getting constant freezing, likely due to using `g.NewTextureFromRgba` -- basically I'm loading 30+ images and using `go func() { ... g.NewTextureFromRgba(rgba) }`. And, for some reason, attempting to use any sync.Mutex locks or chans causes the goroutines to simply stop executing. This doesn't mak

[2020-10-06 02:59] kettek commented on #69
I've adjusted the code and have successfully used SplitLayout on multiple Windows.

[2020-10-06 03:47] kettek opened #75 "Alternative Texture Filtering"
It'd be nice to support texture filtering other than linear. This is easy enough to implement within `RendererOpenGL3` by adding the following to the drawing of Commands:

[code]

However, this makes it global which isn't quite as nice as having filtering per-texture or per-Image. Digging into the code, it is non-trivial to add per image calls specify filtering, as a large portion of imgui's code

[2020-10-06 03:48] #69 closed

[2020-10-06 04:20] AllenDang commented on #75
@kettek Thanks very much! I'm not quite familiar with opengl frankly. It's very nice to have someone to enforce that part. Looking forward to your pr.

[2020-10-06 06:49] kettek commented on #75
See #76

[2020-10-06 12:24] kettek commented on #75
Closed with merge of #76

[2020-10-06 12:24] #75 closed

[2020-10-07 19:47] kettek commented on #30
To note, the fork @ https://github.com/neclepsio/gl has some variant function calls that, afaik, should problems stemming from unsafe.Pointer use. I've experimentally tried using it (along with changing some of the imgui C interface) and it fixed the pointer arithmetic problems.

[2020-10-08 06:51] AllenDang commented on #30
@kettek Wow! Can you make a PR?

[2020-10-08 21:51] kettek commented on #30
Sure. It ended up being part of my attempts to do per-texture filtering, so I'll separate it from that first.

[2020-10-09 15:01] DaBisounours opened #78 "Porting a dear imgui extension"
Hi, first and foremost thank you for this cool library 👍

Not sure if this is the right place to discuss the matter,

I'm interested in implementing a node editor within this library and found extensions to the original dear imgui such as [Nelarius/imnodes](https://github.com/Nelarius/imnodes). I would love to try porting this extension for my use case (audio graphs) but don't really know where I

[2020-10-10 03:42] AllenDang commented on #78
@DaBisounours Thanks to use my lib! :P
You could refer following files which port ColorfulTextEditor:

This is the original extension written by C++
imgui/TextEditor.h
imgui/TextEditor.cpp

This is wrapper which provides C interface to access C++ methods
imgui/TextEditorWrapper.h
imgui/TextEditorWrapper.cpp

This is the go code to access C interface
imgui/TextEditor.go

[2020-10-12 08:58] DaBisounours commented on #78
Thank you for the guidance, I'll look that up and get back to this thread if I run into issues 👍

[2020-10-21 06:50] AllenDang commented on #53
@charlesdaniels Any progress? I'm eager to try it.

[2020-10-21 07:15] charlesdaniels commented on #53
I got a bit bogged down in writing all the wrapper code, and ultimately had to set this aside for other obligations I'm afraid.

I think I have the general pattern of how it should work ironed out, so finishing this is ostensibly just "a small matter of programming".

If I have time in the future, I may pick this back up, but for now I'm afraid I have to table it.

[2020-10-22 12:09] AllenDang commented on #53
@charlesdaniels Got it. It's ok.

[2020-10-22 12:09] #53 closed

[2020-10-29 13:14] yunfengwangluo commented on #74
Exception 0xc0000005 0x1 0x58581f3d 0xde4165
PC=0xde4165

runtime: unknown pc 0xde4165
stack: frame={sp:0x6d101ffa58, fp:0x0} stack=[0x0,0x6d101ffc70)
0000006d101ff958:  0000000000000061  0000000000000008
0000006d101ff968:  0000000000de8a32  0000000000000001
0000006d101ff978:  0000000000de5500  000000000000c000
0000006d101ff988:  0000021d00000000  656d68732d636367
0000006d101ff998:  6f2d326d64742d

[2020-11-04 14:43] ravicheema commented on #30
Unfortunately this issue is a bit of show stopper for a concurrent GIU application, where using -race to catch data race issue is very important. Will this be resolved soon?

[2020-11-05 02:58] AllenDang commented on #30
@ravicheema Cannot promise when, but I'm keep trying to fix it everyday.

[2020-11-06 22:08] kettek commented on #30
I'll attempt to make a PR this weekend integrating the changes I had experimented with last month.

[2020-11-10 00:32] kettek commented on #30
See https://github.com/AllenDang/giu/pull/83

There are still issues with actual race conditions but this PR fixes the unsafe pointer arithmetic problem.

[2020-11-10 15:07] roborobs1023 opened #85 "ListBox automatically puts the focus on first item"
Trying to figure out how to get around this.

![image](https://user-images.githubusercontent.com/35279710/98691545-2292fb80-233c-11eb-9a8f-b815cc00916f.png)

You can see above an image of what is happening. When I open the window it defaults to the top selection for the focus and does not move off of it even if I select another item in the list.

I'd like to set it so that it will keep the focus o

[2020-11-11 02:31] AllenDang commented on #85
The suspicious root cause is `inituType()` and below code
[code]

You could comment them to test whether listbox works fine.

[2020-11-11 13:53] roborobs1023 commented on #85
Sorry should have had comments in the code to explain.

inituType() intializes the items list for the User Type dropdown. Since it is a static list there was no need to do the if statement as with the above slices.

I noticed this issue even before putting the User Type dropdown in.

[2020-11-11 14:51] ravicheema commented on #30
WORK AROUND - Go +1.14 has added `-d=checkptr` which adds instrumentation to check that Go code is following `unsafe.Pointer` safety rules when `-race` is specified. This can be disabled with `gcflags=all=-d=checkptr=0`

Use the following to perform data race condition checks but disable unsafe.Pointer safety rules,
`go run -race -gcflags=all=-d=checkptr=0 .`

Not ideal but it is a work around.

[2020-11-11 22:52] wiktorkujawa commented on #74
When I run this I also get exit status and I think that it's considered with opengl and glfw, because when I tried to build wasm file with tinygo:
tinygo build -o main.wasm -target wasm ./main.go

I got this error:

[code]

And in problems I got this:
[code]

But I don't know what to do with this, because I just started with tinygo. If someone knew how to compile this, please answer.

[2020-11-13 02:37] AllenDang commented on #85
@roborobs1023 I noticed that giu's version in your go.mod file is very old. Can you update giu to newest version and try again?

[2020-11-16 02:53] AllenDang commented on #85
@roborobs1023 Any update?

[2020-11-16 14:19] roborobs1023 commented on #85
That worked perfectly. Is there any way in the new version to set the Splitter widget to a static position so that it cannot be updated by the user?

For instance on my Security Users "window" I have the system list out every database user on the left pane and have a details panel on the right which only fills out when you select a user or when you fill it out to create a new user. As it currently

[2020-11-17 02:21] AllenDang commented on #85
@roborobs1023
You could use giu.Child with giu.Line to create static splitter widget like below.
[code]

To set different fonts for specified widgets, do like this
[code]

[2020-11-17 15:28] roborobs1023 commented on #85
When I do the code as above I get defaultFont declared but not used.

func loadFont() {
    fonts := g.Context.IO().Fonts()

    //default font
    defaultFont := fonts.AddFontFromFileTTFV("./Fonts/PTSerif-Regular.ttf", 16, imgui.DefaultFontConfig, fonts.GlyphRangesDefault())
    //g.PushFont(defaultFont)

}

func loop() {

    if showmain == true {
        g.SingleWindowWithMenuBar("TAM - Aseet M

[2020-11-17 15:31] roborobs1023 commented on #85
Never mind I got it figured out. it was cause of the way I was declaring it.

Robert Tucker
IT Specialist
Email: roborobs_computers@live.com
Phone: (863) 651-1827

“When the storms come and all other birds seek shelter, the eagle alone avoids the storm by flying over it. So, in the storms of life may your heart soar like an eagle.” ~Author Unknown

________________________________
From: Robert Tuc

[2020-11-17 15:58] roborobs1023 commented on #85
Haven't quite gotten the g.PushFont and g.Popfont functions working as go throws an error that I'm using them as values when I try to put them around a single label or set of widgets within a layout.

Robert Tucker
IT Specialist

“When the storms come and all other birds seek shelter, the eagle alone avoids the storm by flying over it. So, in the storms of life may your heart soar like an eagle.”

[2020-11-18 02:32] AllenDang commented on #85
@roborobs1023
g.PushFont is a function call. You should wrap them like this.
[code]

[2020-11-18 14:49] roborobs1023 commented on #85
Oh ok. That makes sense.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Allen Dang <notifications@github.com>
Sent: Tuesday, November 17, 2020 9:32:50 PM
To: AllenDang/giu <giu@noreply.github.com>
Cc: Robert Tucker <roborobs_computers@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [AllenDang/giu] ListBox automatically puts the focus on first i

[2020-11-19 02:34] #85 closed

[2020-11-22 02:38] VoltaVX opened #88 "Gaussian transparency"
Hi, I was wondering if Gaussian blur through the window was possible, if so, how would you go about implementing it?

[2020-11-23 12:05] AllenDang commented on #88
It is possible, you may need to google 'OpenGL gaussian blur window'.

[2020-11-25 02:44] #88 closed

[2020-11-25 20:34] roborobs1023 opened #89 "Table from CSV Struct data"
Allen,

I'm trying to put data from the following into rows within a table to display on the iusers window. Below is the code I have any idea why the table errors out on me?
[code]

Here is the message that Go is giving me.

goroutine 1 [running, locked to thread]:
main.loop.func60()
        C:/Scripts/Go/TAM/main.go:1134 +0xba3
github.com/AllenDang/giu.(*CustomWidget).Build(0xc000006400)

[2020-11-26 06:26] AllenDang commented on #89
This line, you need to invoke Build method in giu.Custom().

Change below
[code]
to
[code]

[2020-11-30 06:19] AllenDang commented on #89
@roborobs1023 Any update?

[2020-11-30 13:39] roborobs1023 commented on #89
Sorry,

Just getting a chance to look into it this morning. Been dealing with the holiday and family.

[2020-11-30 14:05] roborobs1023 commented on #89
That worked to get to pull the data unfortunately it is cascading the data across the row instead of going to a new row. What would be the command to make it do a new row after each pass?

[2020-12-01 02:34] AllenDang commented on #89
@roborobs1023 Because you create row inside a row.

[2020-12-01 04:21] roborobs1023 commented on #89
I thought that was the issue. However when I try to do it such as the following,

g.Rows{
g.Custom(func(){})

I get an error. Is there a way to return a g.Row or multiple rows from a function? As g.Row isn't a type nor is g.Rows.

[2020-12-01 04:31] AllenDang commented on #89
@roborobs1023 Table needs a g.RowWidget array, and g.Row(...) returns a g.RowWidget.
You could define a function which returns a g.RowWidget array like below.

[code]

[2020-12-01 05:06] roborobs1023 commented on #89
I have the following however I'm getting an error on the for loop.

func initImportRows() g.Rows{
	firstnames = nil
	lastnames = nil
	usernames = nil
	emails = nil
	supervisors = nil
	departments = nil
	rows = g.Row(g.Label("Row Number"),g.Label("First Name"), g.Label("Last Name"), g.Label("Username"),g.Label("Email"), g.Label("Department"),g.Label("Supervisor")),
		for i := 0; i < len(u.Users); i

[2020-12-01 05:25] AllenDang commented on #89
@roborobs1023
[code]

[2020-12-01 05:34] roborobs1023 commented on #89
Thank you - That worked. Now I just have to figure out the formatting side of things.

[2020-12-02 02:39] #89 closed

[2020-12-10 16:52] roborobs1023 opened #91 "InputFloatV Format String"
Do you by any chance have an example of using the InputFloatV field?

I'm trying to figure out what the Format String needs to be in order for it to process data correctly for USD currency.

I was able to get it to work with the format string "$%.2f" however this doesn't allow for a comma at the thousands place. Is there a way to do this?

Thanks.

[2020-12-11 04:09] AllenDang commented on #91
Currently there is no easy way to do that. Need to create a new widget from scratch. If you could read cpp code, you could refer the implementation of InputFloat widget from imgui. It should not so hard.

[2020-12-11 13:35] roborobs1023 commented on #91
Okay. I just wanted to see if something had already been implemented. Didn't want to go reinventing the wheel.

[2020-12-11 15:26] #91 closed

[2020-12-22 18:41] cgimenez opened #97 "How to auto scroll a child ?"
Hi !

Given
[code]

How can I auto scroll the "top panel" child so when the number of labels grows we can still the last added one ?

Digging into the code I can see there's a SetScrollHereY() but can't figure how to use it

[2020-12-22 19:06] fr3fou opened #98 "How can I add onClick for TreeNode widgets?"
![image](https://user-images.githubusercontent.com/1344906/102924070-852dfa00-4499-11eb-9301-2c6f65539307.png)
I want to be able to call a function when I click on on this. My current workaround is putting a button next to it but it results in poor UX.

[2020-12-23 01:52] Nicify commented on #97
[code]
You can find an example here https://github.com/Nicify/nvtool/blob/NVEncC/main.go#L348

[2020-12-23 03:13] AllenDang commented on #98
@fr3fou Do you mean click on tree parent or tree item?
If you mean tree item, just use giu.Selectable instead of giu.Label.

[code]

[2020-12-23 05:16] cgimenez commented on #97
Thanks !

[2020-12-23 07:31] fr3fou commented on #98
But I also want to have the onClick on the parent, i.e TreeNode1 at the top

[2020-12-23 10:23] AllenDang commented on #98
@fr3fou Try this
[code]

[2020-12-23 11:47] fr3fou commented on #98
That almost works, only 2 issues:
- It only works if it's open
- The children use Label / Selectable, where in my case they are other TreeNode (it looks weird when using Label / Selectable)

for context, i'm trying to recreate a small part of this UI
![image](https://user-images.githubusercontent.com/1344906/102992893-d6cf9680-4524-11eb-86e8-f1d1ea2d3562.png)

Here's what I have: (The Buttons next

[2020-12-23 13:50] AllenDang commented on #98
@fr3fou For the click event detection, I added a eventHandler param to TreeNodeV function. You could refer the usage in example/widgets.

To disable resizing of SplitLayout, use giu.Child to create a static panel like below.

[code]

[2020-12-23 23:57] fr3fou commented on #98
Thanks for the incredibly quick response! I implemented the latter, but I'm unable to use `TreeNodeV` (I can't update the package, even when using `go get -u`. The compiler keeps telling me that this function doesn't exist.

[2020-12-24 00:09] fr3fou commented on #98
Used `go get -u github.com/AllenDang/giu@master` and that fixed it! Thanks!

[2020-12-24 00:09] #98 closed

[2020-12-24 15:09] neutralinsomniac opened #99 "Attaching a Custom() to a Row()"
Is it possible/does it make sense to be able to attach a Custom() event handler to a Row() object? It looks like doing a Custom() after a Row() currently attaches the event to the last non-Row object.

[2020-12-24 15:13] AllenDang commented on #99
@neutralinsomniac Can you describe more detail about what are you trying to do?

[2020-12-24 15:42] neutralinsomniac commented on #99
@AllenDang https://pintobyte.com/tmp/exogiu_explanation.mp4

[2020-12-24 15:46] ycrao opened #100 "PushFont/PopFont not working in Layout"
[code]

Code below seems not working.

[code]

![image](https://user-images.githubusercontent.com/3280204/103097247-ad585d00-4641-11eb-966a-fe68ec476d2e.png)

 Change to `g.LabelV()` can be OK.

[code]
png:
![image](https://user-images.githubusercontent.com/3280204/103097320-d37dfd00-4641-11eb-83a8-3fabf1701250.png)

[2020-12-25 02:23] AllenDang commented on #100
@ycrao To change font inside layout, use g.Custom, e.g.

[code]

[2020-12-25 04:41] AllenDang commented on #99
@neutralinsomniac I see. There are two approaches in a quick think.
1. Create a new widget from scratch, using canvas apis, to enable display clickable and editable text row.
2. Use TextEditor widget, it's a powerful code editor with syntax highlight and necessary event detections, but need to expose more its internal APIs from cpp side. You could read TextEditor.go and TextEditor.cpp.

In my unde

[2020-12-25 04:56] neutralinsomniac commented on #99
@AllenDang Thank you for your reply. Creating a new custom widget was going to be my next step if something didn't already exist.

You deduced correctly, I'm trying to make a roam research "clone": Repo is [here](https://github.com/neutralinsomniac/exocortex)

The README is a bit out of date. The CLI ([exotui](https://github.com/neutralinsomniac/exocortex/blob/master/cmd/exotui/exotui.go)) is full

[2020-12-25 08:41] #100 closed

[2020-12-25 10:30] #97 closed

[2020-12-25 15:28] cgimenez opened #101 "How to cross compile from Mac OS to Windows (with answer)"
Just in case, for people who want to cross compile from Mac OS to Windows. It's not restricted to giu, but might be useful to people using it.

At first I thought It will be a nightmare, but it proved to be very easy, without using https://github.com/karalabe/xgo - so without installing Docker.

My config is :
- Mac OS 10.12.6 (rather old uh?)
- Mac ports 2.6.4 (I'm a port big fan over brew)

Unde

[2020-12-26 10:36] cgimenez commented on #99
Seems that I've a similar problem - I'm trying to attach a Custom() to a FastTable row like this
[code]

The code inside g.Custom() is executed, but the button is never displayed. I'm missing something for sure ;-)

[2020-12-27 04:41] AllenDang commented on #99
@cgimenez I need to invoke g.ButtonV(...).Build() manually.
[code]

[2020-12-27 10:06] cgimenez commented on #99
Thanks !

BTW, how can I force the width of the FastTable Rows columns ?
In the code above, forcing the width of the g.Label

[2020-12-28 02:28] AllenDang commented on #99
@cgimenez Use imgui.SetColumnWidth to set width of column.

[2020-12-29 09:46] marcelloh opened #102 "Looking for documentation"
Which kinds of input are there (looking for a textarea kind of input)?
Is there also an event like AnykeyUp()
(I want to make a text area where I can show how much letters are typed)

[2020-12-29 11:03] cydside opened #103 "undefined giu.TreeNodeV and giu.IsItemClicked on giu/examples/widgets/widgets.go"
Hi,
I just create a new folder and a new go.mod as follow:

`go mod init package/name`
`go mod tidy`

and copied `widget.go` in the folder having those files:

`go.mod`
`go.sum`
`widgets.go`

now running `go build widget.go` compiler gives me those messages:

`./widget.go:142:5: undefined: giu.TreeNodeV`
`./widget.go:144:10: undefined: giu.IsItemClicked`

[2020-12-29 13:02] AllenDang commented on #103
@cydside Seems you need to `go get -u github.com/AllenDang/giu@master`

[2020-12-29 13:10] AllenDang commented on #102
giu.InputTextMultiline is the text area you are looking for.
To catch any key up, you could use the imgui.InputTextCallback param of giu.InputTextMultiline like below.

[code]

[2020-12-29 15:08] cydside commented on #103
@AllenDang Thanks, lesson learned.

[2020-12-29 15:08] #103 closed

[2020-12-30 08:42] marcelloh commented on #102
I've tried to make a working example out of this
[code]
But I get 3 errors:
[code]

[2020-12-30 09:22] AllenDang commented on #102
@marcelloh Last time I just illustrate the idea and the code is not really executable.
Here is a full demo.

[code]

[2020-12-30 10:49] marcelloh commented on #102
Nice. (I just began with this) This is exactly the thing I was looking for :-)

[2020-12-30 10:57] marcelloh commented on #102
I see that the callback is called a couple of times when I just enter 1 extra character. Is that behavior normal?
(5 times at least)

[2020-12-30 11:12] AllenDang commented on #102
@marcelloh I commented that line, says the callback will be invoked when keyDown, keyPressed and keyUp. One key stroke will trigger all those three events.

[2020-12-30 13:09] marcelloh commented on #102
So I did:
[code]
which seems to work fine.

[2020-12-30 13:09] #102 closed

[2020-12-30 13:12] marcelloh opened #105 "can I show / hide part of a layout?"
I don't like the multi window, so I want to try to show and hide parts that I would have on screen.
I know there can be tabs, so a technique like that but without tabs.

[2020-12-30 15:27] AllenDang commented on #105
[code]

[2020-12-31 10:16] marcelloh commented on #105
seems nice, but now I'm only able to switch between 2 sub-layouts. Is there a solution how to switch based on a number or string?

[2020-12-31 10:27] AllenDang commented on #105
@marcelloh Use giu.Custom.

[code]

[2020-12-31 11:30] marcelloh commented on #105
thanks a lot :-)

[2020-12-31 11:30] #105 closed

[2020-12-31 12:22] marcelloh opened #108 "fixed SplitLayout"
Is it possible to have a splitlayout that is fixed (so the borders cannot be moved)?

[2020-12-31 15:08] AllenDang commented on #108
Use giu.Child to create fixed panel

[2020-12-31 15:44] AllenDang commented on #101
@cgimenez Works like a charm!
BTW, do you know how to embed icon in to exe?
Currently I still have to open Windows in VM and use ResHack to set icon.

[2021-01-01 10:51] cgimenez commented on #101
I did not tried but there's an explanation here : https://stackoverflow.com/questions/708238/how-do-i-add-an-icon-to-a-mingw-gcc-compiled-executable

Hopefully, the windres utility is available with the mac port's x86_64-w64-mingw32-binutils
You can check its presence by issuing a `x86_64-w64-mingw32-windres --version`

So, I think you might try to
- create a .rc file,
- "compile" it with windres

[2021-01-01 13:25] zlianon opened #109 "cimgui bindings"
have you considered this option?
https://github.com/cimgui/cimgui

https://github.com/xlab/c-for-go

i tried to "rewrite" current bindings, but it's too much work...
https://github.com/zlianon/imgui-go

[2021-01-02 04:36] arkadiam opened #110 "OpenGL 2 ES support"
I'm trying to build examples on a platform that only supports gles2 (pinephone, arm64, Mali-400) with:

`~/go/src/github.com/AllenDang/giu/examples/widgets$ go build -tags gles2
`

Running the app fails with:

[code]

Please advise if gles2 is supported. If not, is this something that can be achieved? Thanks!

[2021-01-02 05:57] gravestench opened #111 "Race condition between texture creation and deletion (via finalizer)"
Texture creation can randomly fail if another texture happens to be finalizing in the background.

This is causing deadlocks in [our project](http://github.com/OpenDiablo2/Hellspawner).

~~The deadlock is happening between `Texture.release` and `NewTextureFromRgba`.~~ read below

[2021-01-02 05:58] gravestench commented on #111
@Essial

[2021-01-02 06:39] essial commented on #111
I've been experimenting with mutex locks to ensure that there was absolutely no chance that a free and alloc can happen at the same time, and _still_ got the deadlock. It seems like `CallVal` and `Call` used in Texture.go are extremely unstable and deadlock at odd times.

[2021-01-02 07:29] essial commented on #111
I've done more digging, and by swapping to a third party mainthread library in this project, the crashes went away, so there is some kind of error in your mainthread logic it seems.

[2021-01-02 07:38] AllenDang commented on #111
@essial I just notice same issue last night and trying to fix it. Can you tell me which third party mainthread lib your are using?

[2021-01-02 07:42] essial commented on #111
I used https://github.com/faiface/mainthread which worked great, but did require me to change the texture loading methods to async calls. The only issue was that there seemed to be upwards of half a second until the call was dispatched, but that could have been due to me not being super familiar with the library.

Do you have discord, or could you join our discord? We are _heavily_ using this libr

[2021-01-02 07:43] AllenDang commented on #110
@arkadiam I'm afraid you need to write a renderer for GLES2 manually.

[2021-01-02 07:50] AllenDang commented on #109
Actually cimgui was an option in the beginning, but soon I found that too much work need to be done, and imgui-go saved me a lot effort.

May I ask why you suggest to use it?

[2021-01-02 13:45] arkadiam commented on #110
Thank you for your reply.

Is it what this project is doing?
github.com/inkyblackness/imgui-go-examples/cmd/example_glfw_opengl2
I can build and run this example.

[2021-01-02 15:03] AllenDang commented on #111
@essial Sure! I will join your discord once i get my hand  on my laptop.

[2021-01-02 18:14] essial commented on #111
OK, well for the time being I think we're going to fork this project and come up with a hot fix as we absolutely have to squash this bug today. We'll do a PR if we get a solution together and will switch back to this one after the merge.

[2021-01-03 05:21] essial commented on #111
FYI I've been testing with that PR version all day with 0 crashes.

[2021-01-03 06:02] #111 closed

[2021-01-03 07:08] AllenDang commented on #110
@arkadiam Giu is based on opengl3, but yes, you could refer the renderer from imgui-go and implement it.

[2021-01-03 10:38] marcelloh commented on #108
is there documentation, or an example in how to use this?
I've tried to have 2 horizontally next to each other but I get them below each other, which is wierd because the given width and height is not respected, I think.
[code]

[2021-01-04 02:36] AllenDang commented on #108
@marcelloh Use g.Line(g.Child(), g.Child()) to put them in same line.

[2021-01-04 07:19] marcelloh commented on #108
that gives me the same effect:
[code]
![screenshot1](https://user-images.githubusercontent.com/17491986/103510455-95fd4900-4e65-11eb-9074-eb64251b3c7b.png)

[2021-01-04 07:20] marcelloh commented on #108
and is there a possibility to have the height the remaining  size to the bottom?

[2021-01-04 07:24] AllenDang commented on #101
Update here, I got it works!

[code]

This script could build Window Executable from MacOS and set app icon and window icon properly.

[2021-01-04 07:28] marcelloh opened #113 "Is is possible to size the current font"
I saw I can load another font and do tricks with that, but I want to know if I can do a bigger font with the one that is in use.

Is is possible to load a font, when you don't know the operating system?

[2021-01-04 07:44] AllenDang commented on #113
[code]

[2021-01-04 07:49] AllenDang commented on #108
[code]
And set the height of Child to negative number to make it's height be dynamic.

[2021-01-04 09:03] liwei1024 opened #114 "exit status 3221225477"

[2021-01-04 10:04] AllenDang commented on #114
@liwei1024 Please describe more info, like OS, go version and your code.

[2021-01-04 10:04] #114 closed

[2021-01-04 12:54] cgimenez commented on #101
Great !! Seems that embedding the .syso file is the go linker's job (I thought would be done by the mingw linker)

Found this article about windows manifests files, might be useful to configure further the behaviour of a windows application at runtime : https://xuri.me/2016/06/15/embedded-icon-in-go-windows-application.html

[2021-01-04 15:07] marcelloh commented on #113
This works :-)
[code]

[2021-01-04 15:07] #113 closed

[2021-01-04 15:11] marcelloh commented on #108
Don't know if you use another giu version, but I get:
[code]

[2021-01-05 02:28] AllenDang commented on #108
@marcelloh You need to update to newest version.

[2021-01-05 07:21] marcelloh commented on #108
Now I get a lot of errors :-(
It seems that a lot has changed.
I find it hard to understand if there is a thing that has a function like g.Menu("Home").Layout( g.Layout{...})
To me it seems that the g.Layout part doesn't have to be present, because it's already known it is a layout because of the function Layout(). I think layout should get the content you normally put in the g.Layout{}. But I hav

[2021-01-05 07:28] marcelloh commented on #21
this "LabelWrapped" is now gone?

[2021-01-05 07:37] marcelloh opened #115 "unclear how InputTextMultiline works now"
This is what I had in previous Giu:
[code]
and I know it must be something like this:
[code]
but it complains about the Callback part, and I don't know what to do with the nil. I didn't document myself what that nil stands for :-(

[2021-01-05 07:49] AllenDang commented on #115
You need to know how to view the definition of a function which could let you know the parameter's type.
Otherwise you will be blocked like this for so many times.

What's code editor you are using? I suggest to use VSCode or Goland which has more necessary support to view definition information for method and type.

Do it like below, note that I'm writing this code from memory, and it's not very

[2021-01-05 08:06] marcelloh commented on #115
ok thanks :-)

An example for people looking for a fix.

Old version:
[code]
now becomes:
[code]

[2021-01-05 08:06] #115 closed

[2021-01-05 08:26] AllenDang commented on #108
@marcelloh Refer examples/widgets/Widgets.go. There has all the demo code. And check examples folder, you could find all demo about everything.

[2021-01-05 11:20] #110 closed

[2021-01-05 17:06] #108 closed

[2021-01-05 17:13] marcelloh opened #116 "Listbox : can it have a OnClick?"
Now there is only an OnDClick function
I can do it with OnChange, but then I have to select another item first before I can select the first item.
I think that an OnClick would fix this

[2021-01-05 17:48] marcelloh opened #117 "can a layout have a different background color?"
I've tried to do it with PushColorWindowBg() but that was unsuccessful

[2021-01-05 20:49] Holmqvist1990 opened #118 "`GetCursorScreenPos()` doesn't work on Windows?"
**Expected**
`GetCursorScreenPos()` returns `Point` with correct values.

**Actual**
`GetCursorScreenPos()` always returns `Point{8 27}`.

**Steps to reproduce**
[code]

[2021-01-06 02:55] AllenDang commented on #118
@Holmqvist1990 Can you share your code?

[2021-01-06 02:57] AllenDang commented on #117
Layout is just a concept not a widget. You could change g.Child's background color using PushColorChildBg

[2021-01-06 02:59] AllenDang commented on #116
I don't quit understand your question. What are you trying to do?

[2021-01-06 03:00] AllenDang commented on #117
Layout is just a concept not a widget. You could change g.Child's background color using PushColorChildBg

[2021-01-06 07:10] marcelloh commented on #116
somewhere i have this:
[code]
but when I want to know which one is clicked/selected or whatever, and I want to select the first one, then I have to click on another first and then click on the first with the OnChange.
I can do it with the OnDClick, but then I always have to click twice (which is nit nice for the user), so if there is a listbox, how can I handle it so I can immediately select/click

[2021-01-06 07:41] marcelloh commented on #117
PushColorChildBg does not exist (or do I need to update it again?)

[2021-01-06 08:45] AllenDang commented on #116
@marcelloh I still cannot understand clearly about your case.

As my understanding, there are two cases you just mentioned.

1. You want to set selected item, say set selected item to the first one.
For this case, current listbox doesn't support.

2. You want to know user selected the first item.
For this case, you can know the selected item's index from OnChange event.

[2021-01-06 08:46] AllenDang commented on #117
PushColorFrameBg

[2021-01-06 21:15] Holmqvist1990 commented on #118
I am sorry for having wasted your time; you are correct. I had experimented with `GetCursorPos` and `GetCursorScreenPos` inspired by examples/canvas, failing to notice `GetMousePos`.

Thank you for a quick and accurate answer!

[2021-01-06 21:15] #118 closed

[2021-01-07 04:21] liwei1024 commented on #114
Microsoft Windows [version 10.0.18363.1256]

version go1.15.2 windows/amd64

hello world code

[2021-01-10 08:04] marcelloh commented on #116
Let me try to explain differently
I have a list of items and I want the user to select one by clicking once. Is there such a possibility?

[2021-01-10 08:06] marcelloh commented on #117
Is there an example or documentation where this is used?
I have this, but doesn't work:
[code]

[2021-01-10 09:15] marcelloh opened #119 "unclear (to me) how to do dynamic stuff"
let's say I have this:
[code]
But I want the buttons to be  a list of items, it is unclear to me how to do that
Normally I would do something like:
[code]

[2021-01-12 02:07] AllenDang commented on #117
[code]

[2021-01-12 02:44] AllenDang commented on #119
You really need to know how to view the parameter type of a function. Otherwise you will met countless questions.

For this case, you should konw the g.Line function accepts []g.Widget as only parameter. And you could assemble the []g.Widget at anywhere and pass it to g.Line to create a line of widgets.

If you understand this, the solution is simple, assemble a slice of widgets, try to pass the s

[2021-01-12 05:42] AllenDang commented on #116
@marcelloh Select one by clicking once. OnChange is enough. If you are saying that the first item should be selected by default, and related event should be triggered, you could load the data related to first item after window is loaded, and load data related to other item in OnChange event.

[2021-01-12 06:32] marcelloh commented on #116
Your solution is not the same. What if the action is to delete the selected item. It means that in your case the first item is always deleted. It needs to be a user action and NOT a system action, so a user is responsible for the action.

[2021-01-12 07:05] marcelloh commented on #119
I'm just trying to use what I see. I see an example (https://github.com/AllenDang/giu/wiki) which states:
[code]
I think this is the old solution

So I look at the source:
[code]
and I wonder why does the onclick return a buttonwidget pointer?
This is totally not needed. (trying to help you here)
you can get rid of the return, since it's a pointer that you call it with, like &myButton.OnClick()

I

[2021-01-12 09:35] AllenDang commented on #119
@marcelloh The reason why OnClick returns a button pointer is to support method chain, so user could do code like this.

[code]

Button just has two setter, but other widgets could have several setters, with method chain, user could set any property in any order, which could make code more readable and writable.

At least in my understanding, this helps a lot.

And don't expand my meaning about th

[2021-01-12 10:14] AllenDang commented on #116
@marcelloh For the user need to delete a item, use context menu is a better choice.

[2021-01-12 11:46] marcelloh commented on #119
So I puzzled a lot and came to the conclusion for this problem, I should use a rangeBuilder:
[code]

[2021-01-12 11:46] #119 closed

[2021-01-14 01:50] #117 closed

[2021-01-14 10:46] marcelloh commented on #117
Thanks for the hint, but when I do that:
[code]
it tells me it's wrong: g.PushColorFrameBg() (no value) used as value or type

I don't know how the g.PopStyleColor(...)} works :-(

So I changed it into:
[code]
which compiles but gives me a run time exception (and my program, stops)
[code]

[2021-01-14 11:00] AllenDang commented on #117
@marcelloh My previous code demo tells you, and I quote it again as below shows.

[code]
Invoke PushColorFrameBg will change the FrameBg untill PopStyleColor is invoked. And they should always be invoked in pair.

BTW, whats editor you are using? I noticed you are typing code without any auto-completion and function parameter hint.

[2021-01-14 11:36] marcelloh commented on #117
using VSC with auto-completion.
but since I really don't know how I should look at this g.PopStyleColor(...) I don't know.
Push and Pop is known for usage on a stack. So I should know that Push add a color to the stack which will be the color in use.
Pop should remove one of the stack (so it is unclear why it has params for me)

But I've tried and came up with this, which complies but doesn't do a

[2021-01-14 12:19] AllenDang commented on #117
@marcelloh You need to know how the style system of imgui works. There are lots of colors could be set for different widgets.
In you code, you changed the frame background, but label doesn't have a background, only thing label has is just text, so you cannot change background color for it.
To change a Child's background color, use code like below.

[code]

[2021-01-14 16:06] marcelloh commented on #117
Ok, now this was really helpful, thank you.

[2021-01-14 17:20] #116 closed

[2021-01-14 17:28] marcelloh opened #120 "how to do things only once"
I have this part:
[code]
but when I move my mouse, I see that the println is constantly printed. This means If I have a time consuming piece, it will also be triggered (like reading from a database or so)

I tried to do it once with a bool (do it when still false) like int his part:
[code]
but then it only prints the "show me the money" and not the other stuff.

Is there a good way to solve this p

[2021-01-14 17:28] marcelloh opened #121 "How to do things only once"
I have this part:
[code]
but when I move my mouse, I see that the println is constantly printed. This means If I have a time consuming piece, it will also be triggered (like reading from a database or so)

I tried to do it once with a bool (do it when still false) like int his part:
[code]
but then it only prints the "show me the money" and not the other stuff.

Is there a good way to solve this p

[2021-01-14 18:34] Nicify commented on #121
This is not a problem at all, this is how the immediate mode GUI works, giu just provides a new way to create dear imgui widgets and implement event driven updates etc, it is still essentially imgui.
So if you don't know how to use the immediate mode GUI, you will have a tough time using giu.

[2021-01-15 02:03] #120 closed

[2021-01-15 07:35] marcelloh commented on #121
I solved it by moving the gui part out of the test like this:
[code]

[2021-01-15 07:35] #121 closed

[2021-01-15 07:38] marcelloh opened #122 "can a giu.Combo be open at creation"
Now a user has to click before its content becomes visible.
For a user, that means an extra click.
Is there a flag or other solution which shows an already open combo?

[2021-01-15 10:14] AllenDang commented on #122
No.

[2021-01-15 12:47] marcelloh opened #123 "scroll speed of mouse"
is it possible to change the scroll speed of the mouse?

When a layout is bigger than the screen, I can scroll, but with the mouse it's super-fast. :-(
(I know there's a scrollbar, bar not everybody uses that)

[2021-01-15 13:05] AllenDang commented on #123
There is no easy way to control scroll speed.

[2021-01-15 15:00] marcelloh commented on #123
is there some event that is triggered when scrolling with the mouse?

[2021-01-15 16:06] AllenDang commented on #123
What are you going to archive?

[2021-01-15 16:09] marcelloh commented on #123
To slow down the scrolling.It is much faster in my GIU application that in
any other application.
If I have 1000 lines, it's hard to read (because the scrolling is that fast)

Op vr 15 jan. 2021 om 17:06 schreef Allen Dang <notifications@github.com>:

[2021-01-16 04:37] #122 closed

[2021-01-16 07:28] AllenDang commented on #123
@marcelloh Sorry, but currently there is no easy way to control the scroll speed.

[2021-01-17 13:48] estebanpascual opened #124 "Open popup when the app opens"
I declared a popup window in the loop and would like it to open when the app starts, but I don't know where to put the code of the popup opening, could someone please help me ?

[2021-01-17 14:07] estebanpascual commented on #124
I could find on my own excuse me for my useless ticket, I had not seen the g.custom function. I take this opportunity to congratulate you on your very complete project

[2021-01-17 14:07] #124 closed

[2021-01-18 07:47] #123 closed

[2021-01-18 07:47] #109 closed

[2021-01-18 07:47] #99 closed

[2021-01-18 07:49] #31 closed

[2021-01-19 16:20] mtp commented on #111
Same problem for me.

[2021-01-20 02:56] AllenDang commented on #111
@mtp Can u share a minimal code for testing?

[2021-01-20 12:48] mtp commented on #111
Thank you @AllenDang for your answer.
I had a mix of old and new source file within gui, that was causing the crash. I cleaned up everything, and re-installed your library with the last commit from master.

Now, your TextureFiltering example is crashing and raising a fatal panic with your last commit version.
It comes from the mainthread call in the NewTextureFromRgba function.
I guess you tester

[2021-01-20 14:02] AllenDang commented on #111
@mtp It's strange. I ran TextureFiltering again without any crash...

[2021-01-20 14:10] mtp commented on #111
@AllenDang thank you for your test.
Like I said, I had to call the NewTextureFromRgba from a mainthread.Run, because these NewTextureFromRgba were called before the mainwindow.Run function.
With this fix, I don't know why but I got a "invalid memory address or nil pointer dereference" panic error raised from the NewTextureFromRgba.
I'am still investing the problem.

[2021-01-20 14:14] AllenDang commented on #111
@mtp Before MasterWindow.Run, the renderer is not initialized, and to create NewTexture, renderer has to be initialized, that's why you met the error.
Why you have to generate new texture before the master window?

[2021-01-20 14:24] mtp commented on #111
@AllenDang I guess that's what you're doing in your TextureFiltering example.

[2021-01-21 06:49] #78 closed

[2021-01-22 15:02] saucesaft opened #129 "Wrapping scroll functions"
Hi, for an application im developing with this library, i need the scroll [functions](https://github.com/inkyblackness/imgui-go/blob/0065f3b918a366865b6ddf984c15e85f92a171ab/Scroll.go) provided by imgui. For what i've seen, the only one wrapped in the imgui's fork of this repo is `SetScrollHereY()`, so i was wondering, is there any special reason why only that function is wrapped? If not, can i pr

[2021-01-23 05:56] AllenDang commented on #129
Aha, because that's the only function I've used, :P
Welcome to make PR.

[2021-01-23 18:09] saucesaft commented on #129
Great, thanks, working rn on the pr.

[2021-01-24 05:15] #129 closed

[2021-01-25 02:47] mewmew opened #131 "proposal: simplify `WindowWidget.Layout` API usage"
Hi @AllenDang,

Just want to start of by saying how inspiring it has been to learn about giu. I think the declarative approach to UI is really quite beautiful! Thank you for sharing this project with the community!

I also find the Widget interface to be beautiful in it's simplicity, every widget knows what imgui operations to invoke to build itself. And the `Layout` is also very simple, just a li

[2021-01-25 02:52] AllenDang commented on #131
@mewmew Aha! That's a very good solution! I also feel the .Layout(g.Layout{}) is kind of ugly. Will you make a PR for the change?

[2021-01-25 02:53] mewmew commented on #131
Wow, very quick response time :)

Sure! I'll submit a PR!

[2021-01-25 03:14] mewmew commented on #131
As a benefit, this change is backwards compatible, since `Layout` implements the `Widget` interface.

[2021-01-25 03:35] AllenDang commented on #131
@mewmew Sorry to close the PR, cause I cannot wait and implement this already...

[2021-01-25 06:29] #131 closed

[2021-01-26 10:20] jeel2331 opened #133 "can not run hello world"
i copied hello world from the readme file and it is giving me this error
[code]

i am running it on windows 10 with go  15.6 what is wrong with it help me!

here 's the code i copied
[code]

[2021-01-26 10:35] AllenDang commented on #133
@jeel2331 Thanks, it is fixed. I updated README.

[2021-01-26 10:38] jeel2331 commented on #133
i tried your updated code but now it is giving me this error
[code]

[2021-01-26 10:54] AllenDang commented on #133
@jeel2331 Please show me your code. And what version of giu you are using?

[2021-01-26 11:00] jeel2331 commented on #133
it is the latest version i downloaded it today
i found it in my go.mod file
`require github.com/AllenDang/giu v0.5.1 // indirect`

[2021-01-26 11:04] AllenDang commented on #133
Run `go get -u github.com/AllenDang/giu@master` in your project's path and it should fix it.

[2021-01-26 11:16] jeel2331 commented on #133
thanks it is now working.
but when i run the build it is showing console window can you tell me how do i hide it and also while building the binary file(.exe file) it consumes so much ram and cpu power any tips?

after your answer issue will be closed

[2021-01-26 11:20] AllenDang commented on #133
@jeel2331 I asume you are using Windows, you could build a gui executable like this `go build -ldflags "-s -w -H=windowsgui -extldflags=-static" .`.
First time building giu will compile all cpp files comes from imgui library, after that, the build speed and cpu usage will be normal.

[2021-01-26 11:38] jeel2331 commented on #133
thanks for your help

[2021-01-26 11:38] #133 closed

[2021-01-28 03:06] folays opened #134 "g.TreeNode() does not allow a QTreeView-alike widget (Table + TreeNode)"
### Example and lectures:

1. https://github.com/ocornut/imgui/issues/2957#issuecomment-572757532 for an example of a classic "filesystem tree widget" which combine a `BeginTable` + `TreeNode`
2. Example usage in `imgui` (C++) of the screenshot above (`Table` + `TreeNode`) is here : https://github.com/ocornut/imgui/blob/v1.80/imgui_demo.cpp#L4427
3. Example usage in `giu` of a `TreeNode" (without

[2021-01-28 03:20] folays commented on #134
### Ugly workaround:

I have been able to illegally hack around this with max uglyness code:
[code]
I abuse the the fact that:

**1]** `(*TreeNodeWidget).Event()` is called inside the context of the `imgui.TreeNodeV()` and especially before (a) `(*TreeNodeWidget).layout.Build()` and also before (b) `imgui.TreePop()`

It helps me "forcing" `giu` to draw the "remaining columns of the line" by puttin

[2021-01-28 03:29] folays commented on #134
### Fix Proposal:

Maybe the workaround above would helps you to figure a way to fix this behavior.

Maybe explicitly propose two `(* TreeNodeWidget)`'s "Layout()" functions:
1. a new `LayoutBeforeSubNode()` function, with the same signature than `.Layout()`, which would register the `widgets ...Widget` parameter in a `layoutBeforeSubNode` struct member. Those would be iterated-over and `.Build()`

[2021-01-28 04:45] AllenDang commented on #134
@folays Thanks very much to point out this edge case. I will check it later because I'm out of office right now. I also noticed that newest Table API's demo provides a table+treenode example, I'll read your proposal and provide a solution later.

[2021-01-31 21:04] wowtk777 opened #135 "SplitterLayout looks broken"
I try to use SplitterLayout but get an error after application start:

`Assertion failed: (g.WithinEndChild) && "Must call EndChild() and not End()!", file imgui.cpp, line 6216`
`exit status 3`

I tried to compile `splitter.go` example and got same error.

[2021-02-01 04:34] folays opened #136 "lazy drawing (on-demand) of Widgets and their descendants"
### Problem :
Due to the "declarative" nature of `*Widgets.Layout(...)` in `giu`, and the call-chain used to declare them,
the whole hierarchy of `giu` widgets are instantiated at each ui loop.
(though only a small struct initialisation for each widget, on the "side" of `giu` only).

Some `Widgets` have an internal "open" status (internal to `C++ imgui`, returned by `imgui::Begin*V`).
For example:

[2021-02-01 05:15] AllenDang commented on #135
@wowtk777 Can you confirm you are using latest version of giu? Try to run `go get -u github.com/AllenDang/giu@master` in your project folder.

[2021-02-01 07:31] AllenDang commented on #136
@folays Thanks for the proposal. In my mind, this is a advanced trick and could be archived easily by following code.
[code]
I intend to keep the layout gramma as simple as it could be.

[2021-02-01 08:28] wowtk777 commented on #135
@AllenDang thank you
The command `go get -u github.com/AllenDang/giu` solved my issue on Linux (go 1.15, Ubuntu 18)
I will check on Windows at evening

[2021-02-01 09:42] folays commented on #136
Thanks for you answer.
At the first glance, it made me think that maybe I had missed or overlooked on something.

After a second thought, I think have identified the following:

### 1) Inside the context of a `func buildSomething() g.Widget {}`

Of course, your `buildSomething` function which return a `g.Widget` can "run" and condition its code path to some `someCondition` user-defined/user-contro

[2021-02-01 11:58] AllenDang commented on #136
@folays Basically I think this is a advance trick to optimize. There are many solutions could be done in different scenarios, like but not limited like below
1. Generate layout and reserve it outside loop function, change it only when some events were triggered and invoke giu.Update to notice redraw.
2. Use function to return layout and control the construction inside it.
3. Cache generated comple

[2021-02-01 20:57] wowtk777 commented on #135
@AllenDang I can reproduce this bug.

When any splitter go out of window border a application crashes. It reproduces both Linux and Windows.

I make a video to show the bug: https://youtu.be/fBLgr-Bg3T0. I used go version 1.15.7 windows/amd64 (MINGW64)

[2021-02-02 03:10] AllenDang commented on #135
@wowtk777 Nick catch!! Can you paste the error message to help me locate the issue?

[2021-02-02 05:57] wowtk777 commented on #135
@AllenDang Yes. Full message is:
[code]

[2021-02-02 06:17] AllenDang commented on #135
@wowtk777 Issue sovled. Please update giu and help to try again.

[2021-02-02 17:45] wowtk777 commented on #135
@AllenDang thank you. It works on Windows and Linux.

I checked slide movenent and window resise. All are ok.

[2021-02-02 17:45] #135 closed

[2021-02-09 00:01] kylhuk opened #140 "Can't run ImGui anymore (0xC0000005)"
Hey there

I had this issue a while ago and I don't know what leads to it. No clue how to debug this error and google does not help at all. The error seems to be quite general.

As soon as I run giu (like the HelloWorld example), I immediately get this error:
[code]

Tried different examples. Tried removing the whole giu directory from go src.

What else could it be? Do I need to install special d

[2021-02-09 03:51] AllenDang commented on #140
@kylhuk Can you run it from terminal to see if we can get more error message?

[2021-02-09 12:20] kylhuk commented on #140
@AllenDang Ran it in terminal, no different output.

Used `dlv` to debug the code, but it seems not to even get to `main()`. I saw that as soon as I add the include to giu, debugging is not possible anymore in Goland (it just never really starts the debugging process). If I remove that include, everything works fine.

I tested it on a different PC with the exact same result. There I have an Intel

[2021-02-09 15:11] kylhuk commented on #140
More information
- Now used `go mod` to download all the libraries in the `vendor` folder - same effect
- Importing `giu` _without_ using it, leads to above mentioned error (`import _ "github.com/AllenDang/giu"`)

[2021-02-11 19:17] kylhuk commented on #140
Same happening with `inkyblackness/imgui-go` and since you use this library, I opened up an issue there, so I'll close this one.

https://github.com/inkyblackness/imgui-go/issues/139

[2021-02-11 19:17] #140 closed

[2021-02-12 17:38] librariusbabble opened #144 "dependency cycle?"
I was trying to get giu working in a test program.  To that end, I copied the example from the readme, but the compiler throws an "import cycle" error.  This is true also when using ``go get`` to, well, get giu.

[2021-02-13 08:38] AllenDang commented on #144
@librariusbabble Can you run any demo code in examples folder?

[2021-02-13 08:39] AllenDang commented on #144
@librariusbabble And please paste the complete code you are trying to run.

[2021-02-13 08:42] #136 closed

[2021-02-13 14:18] librariusbabble commented on #144
So it turned out to be an issue with **$GOPATH** for some reason, but regardless I've fixed the issue.  Thanks!

[2021-02-13 14:18] #144 closed

[2021-02-16 18:15] jasmeer opened #145 "Custom widget causes panic"
I created RedButtonWidget; only change from default button is this:
[code]

But it causes panic:

`
Assertion failed: (SizeOfColorStack >= g.ColorStack.Size && "PushStyleColor/PopStyleColor Mismatch!"), function CompareWithCurrentState, file imgui.cpp, line 7142.
SIGABRT: abort
PC=0x7fff6ad5f33a m=0 sigcode=0
signal arrived during cgo execution
`

Here is the code:

[code]

What am i doing wrong?

[2021-02-20 08:49] AllenDang commented on #145
@jasmeer Use g.PopColor instead of g.PopStyle.

[2021-02-21 17:07] noluben commented on #145
@AllenDang
I used g.PopStyleColor and it worked.
Thanks a lot
Jas

[2021-02-22 02:29] #145 closed

[2021-02-25 21:00] TheMRLokopOff opened #146 "error: 'isascii' was not declared in this scope"
Using:
* Windows: 20H2 19042.804
* gcc (mingw-msys): 10.2.0
* golang: 1.16 and 1.15.8 (both not working)

[code]

[2021-02-25 23:41] TheMRLokopOff commented on #146
I am create a repository, and implement isascii function,
and i got another error:
[code]

[2021-03-01 13:54] AllenDang commented on #146
@TheMRLokopOff Sorry for the late reply. It's really strange, I just built it under Windows 10. I may try another version of mingw to see whether I could repo this issue. Thanks to report it anyway.

[2021-03-01 16:09] cydside opened #147 "Help needed to install on Windows 7 32 bit."
Hi to all,
sorry to ask that help but I'd like to use this amazing package on Win 7 32bit. So I installed mingw for gcc and g++ but still having issues running `go build widgets.go`.
What am I missing?
Thanks in advance.

[2021-03-02 02:55] AllenDang commented on #147
@cydside What's the error message? You should run `go build .` under the root folder of giu.

[2021-03-02 04:04] cydside commented on #147
I just copied the content of widgets.go in examples folder in imgui01.go file and here is the error output.

[error.txt](https://github.com/AllenDang/giu/files/6066106/error.txt)

[2021-03-02 07:30] TheMRLokopOff commented on #146
Hello @AllenDang, i tried 3 versions of mingw, and no one worked. So can you please help with build it on linux for windows, or give your mingw version. Thanks for reply!

[2021-03-02 09:33] AllenDang commented on #147
@cydside What happens if you run `go get github.com/AllenDang/giu`?

[2021-03-02 10:14] AllenDang commented on #146
@TheMRLokopOff So you are trying to build windows version under linux?

[2021-03-02 14:56] TheMRLokopOff commented on #146
Initially, I tried to do everything on windows, but I couldn't. I tried using wsl, but it didn't work there either, if needed

[2021-03-03 06:50] AllenDang commented on #146
@TheMRLokopOff I will gather the information of my Windows 10 tonight and get back to you.

[2021-03-03 10:12] cydside commented on #147
Sorry for the late answer, I had to create a VM Win7 x86 and re-install all the software.
Running  `go get github.com/AllenDang/giu` i have:

C:\Dev\imgui01>go get -u github.com/AllenDang/giu
go: downloading github.com/go-gl/glfw v0.0.0-20201108214237-06ea97f0c265
go: downloading github.com/go-resty/resty/v2 v2.5.0
go: downloading github.com/go-resty/resty v1.12.0
go: downloading golang.org/x/net

[2021-03-03 18:36] cydside commented on #147
Doesn't work on VM due to OpenGL support that is only for version 2.x on Virtulbox using VboxSVGA. I ended to install a new real machine with Win 7 x86, Go 1.16 and Mingw 8.1.0. After that I tried to not install the Video drivers leaving the standard VGA and still had the panic error above mentioned. Once installed the drivers it worked. Sorry to keep you on this issue, hope only to be useful for

[2021-03-03 18:36] #147 closed

[2021-03-04 03:59] AllenDang commented on #146
@TheMRLokopOff Here is a working env information from another issue. https://github.com/AllenDang/giu/issues/147#issuecomment-789963826

[2021-03-10 03:21] #146 closed

[2021-03-13 20:37] oioio-space opened #150 "Error when running "Hello world" exemple on Windows 10"
Hello,
I try to run or build the "hello world" exemple on Windows 10.
Nothing append when I execute my "exe", and when I execute `go run` this error append : `exit status 3221225477`

[2021-03-13 21:03] #150 closed

[2021-03-18 11:42] bartimus-primed opened #151 "[Windows] go get github.com/AllenDang/giu fails"
Not sure what the requirements are, just following along with the README.

Error:
[code]

[2021-03-18 15:34] AllenDang commented on #151
@bartimus-primed What's the mingw version you are using?

[2021-03-18 19:27] nitrix commented on #151
Found this in the imgui changelogs:

[code]

Does giu/go-imgui do either of these things?

[2021-03-19 09:39] cydside opened #153 "How to add a check for `syscall.SIGINT`?"
Hi,
I'm wondering if there's a way to prevent the application to be closed by a SIGINT call, here is my attempt:

[code]

Thanks in advance for your help

[2021-03-19 12:13] bartimus-primed commented on #151
@AllenDang sorry I didn't get back to you, I wasn't at my computer very long yesterday. Msys is from 20200903, I think I need more caffeine cause I it took me awhile to find:
gcc version 6.3.0 (x86_64-win32-seh-rev1, Built by MinGW-W64 project)

[2021-03-19 18:10] cydside opened #154 "Unexpected error including `github.com/sqweek/dialog`"
Hi,
I'm facing unexpected error including `github.com/sqweek/dialog`, clicking "Click Me" button, like in the following example:
UPDATE: it works with 0.5.2 version on win7 32bit!

[code]

[code]
Reporting error:

[code]

[2021-03-19 22:04] mtp opened #155 "Application crashing when moving the window from one monitor to a second one"
My application is crashing when moving the window from one monitor to a second one, everytime and the exact moment is goes to the second monitor.
The following error is given in the stdout :

The system is windows 10.
Using GLFW 3.3
The two monitors dont have the same scale : 125% for the origin monitor, 100% for the destination monitor.

[2021-03-22 03:06] AllenDang commented on #154
@cydside You should open the dialog from a goroutine.

[2021-03-22 03:08] AllenDang commented on #151
@nitrix Thanks a lot! @bartimus-primed Can you also try the newest version?

[2021-03-22 07:34] AllenDang commented on #155
@mtp Got it. I will test it soon. I guess something is changed inside imgui when processing multiple monitor support.

[2021-03-22 07:41] cydside commented on #154
I did that:

[code]
with the same error.

[2021-03-22 09:00] cydside commented on #154
I posted the same error in `github.com/sqweek/dialog` page and have a lokk at the [solution proposed](https://github.com/sqweek/dialog/issues/58)

[2021-03-22 09:24] AllenDang commented on #154
@cydside It works normally on MacOS even without a seperate go routine. Seems windows part needs to tweak.

[2021-03-22 09:30] cydside commented on #154
Il giorno lun 22 mar 2021 alle 10:24 Allen Dang ***@***.***>
ha scritto:

I’m facing this problem with linux 64bit (Linux Mint). I tested the above
code on a Windows 7 32bit without problems.

[2021-03-22 12:05] bartimus-primed commented on #151
@AllenDang I'm still having the same issues, i'm going to clear the go cache and reinstall msys/mingw to see if that rectifies the issue.

[2021-03-23 09:33] AllenDang commented on #151
@bartimus-primed I installed a windows 10 VM and got a clean build with TDM-GCC https://jmeubank.github.io/tdm-gcc/download/.

[2021-03-23 11:23] kineticeagle commented on #151
@AllenDang downloading that now and will let you know.

[2021-03-23 11:36] AllenDang commented on #151
@kineticeagle Remember to delete C:\Users\name\AppData\Local\go-build

[2021-03-23 13:31] AllenDang commented on #153
@cydside I think this should be an discussion about how to avoid termination triggered by syscall.SIGINT rather than an issue.
May I ask what's the usage scenario?

[2021-03-23 13:38] cydside commented on #153
Yes, the scenario is to call closing/cleaning functions in case of syscall.SIGINT crops up.

[2021-03-23 15:11] bartimus-primed commented on #151
@AllenDang , yeah I am not even sure now, cause I did all of that. I am going to just wipe the box in a few days and try again. I'll close this though since it seems to be on my end.

[2021-03-23 15:11] #151 closed

[2021-03-23 15:55] alchem1ster opened #156 "[WIN10] exit status 3221225477"
**OS:** Windows 10 20H2 19042.870
**CPU:** Ryzen 3700X
**GPU:** RTX 2070S
**Go:** go1.16.2 windows/amd64

1. Installed latest Go version;
2. Installed TDM-GCC 9.2.0;
3. `go init` new project;
3. `go get github.com/AllenDang/giu@master`;
4. Copied `examples/helloworld/helloworld.go` into project dir;
5. `go run helloworld.go`.

**What I get:**

**What I expect:**
Perfect GUI window with Hello world

[2021-03-24 02:57] AllenDang commented on #151
@bartimus-primed If you are working on MacOS, and need to cross-build a Windows version, you don't need to install a VM, check this https://github.com/AllenDang/giu/issues/101.

[2021-03-24 03:32] AllenDang commented on #156
@alchem1ster Are your using a windows VM?

[2021-03-24 11:19] alchem1ster commented on #156
No, it's not a VM

[2021-03-24 11:29] alchem1ster commented on #156
![image](https://user-images.githubusercontent.com/3815426/112303417-4fbdc600-8cad-11eb-9b14-4460f13e7b01.png)

[2021-03-24 11:42] AllenDang commented on #156
@alchem1ster After a long time search, this issue seems may come with TDM-GCC. I'm trying to build with cygwin now...

[2021-03-24 12:39] alchem1ster commented on #156
@AllenDang
So, confirmed. This problem was solved by uninstalling TDM-GCC and installing MinGW.
I used this: https://github.com/brechtsanders/winlibs_mingw/releases/tag/10.2.0-11.0.0-8.0.0-r8
Both compiling and running successful works.

[2021-03-24 12:42] AllenDang commented on #156
@alchem1ster Thanks very much!

[2021-03-24 13:15] #156 closed

[2021-04-06 14:53] santiagocezar opened #161 "[Question] Building GLFW for wayland"
(note that this is an issue that I posted in go-gl/glfw#314 but as it's related to this library I post it here too)

I'm not sure if something can be done from giu but if it can I hope this helps

[2021-04-07 03:48] AllenDang commented on #161
@santiagocezar I guess this should be added into cgo parameter in the cgo related code in glfw.

[2021-04-07 14:09] #161 closed

[2021-04-07 14:23] santiagocezar commented on #161
Sorry, I've found out that this issue was caused because go get doesn't download symbolic links, closing as it's unrelated to the library

[2021-04-16 10:40] SAXN-SYNX opened #163 "How can we bind InputText to a button ?"
Can't seem to find any documentation about it.
Whenever i click on login button the email field becomes empty. I don't know what i am missing.
[code]

[2021-04-16 11:19] AllenDang commented on #163
@SAXN-SYNX Loop method will be invoked 24 times per second. So email variable will be re-created each time.
Solution is simple, move email and pwd outside loop method.

[2021-04-17 02:24] #163 closed

[2021-04-17 02:24] SAXN-SYNX commented on #163
Thank you !

[2021-04-17 12:39] spiralw opened #166 "Feature request: imgui_markdown as extension"
Hi, would it be possible to add https://github.com/juliettef/imgui_markdown as an extension? I would do it myself but I don't know c++/cgo unfortunately. Thank you!

[2021-04-19 06:15] AllenDang commented on #166
@spiralw I can do that, let me investigate markdown a little bit and get back to you soon.

[2021-04-19 18:57] vivekvardha opened #168 "Not able to enable horizontal scroll bar"
I am working on to create "InputTextMultiline" widget.
This widget would be containing data read from a text file. Vertical scroll is already provided with the widget. I am trying to enable/disable horizontal scroll bar based on the horizontal resizing of the window.

In the single window creation, I tried passing the flag "WindowFlagsHorizontalScrollbar" but this is did not help me.
Second thing

[2021-04-19 23:51] HACKERALERT opened #169 "Drag and drop files?"
Hi, thanks for creating this beautiful Go UI library. Looking in the examples, there's a drag and drop example, but that's only for widgets inside the window. Is it possible to add an event handler for dragging and dropping files from a file manager into a giu window? Thank you.

[2021-04-20 02:25] AllenDang commented on #169
@HACKERALERT Check out examples/ondrop.

[2021-04-20 13:02] HACKERALERT commented on #169
Great thanks! I think I missed it the first time I looked.

[2021-04-20 13:02] #169 closed

[2021-04-20 13:14] AllenDang commented on #168
@vivekvardha This is an long-term issue of imgui. The most nearly solution is create a Child as container of InputTextMultiline and set the width of InputTextMultiline to the longest line of text it contains.

[2021-04-20 14:14] vivekvardha commented on #168
Hello @AllenDang ,
The text that I am going to read a log file and length of line is something which is not certain.

I tried going through the method InputTextEx of class ImGui in file imgui_widget.cpp.
I tried to understand this function and I thought that if I make the control hit the scroll section, things should start working but this did not happen.

Thank you for the response.

[2021-04-20 18:42] HACKERALERT opened #170 "OpenGL issue"
I have a Mac Mini and an Acer Swift. I compiled a program using giu on the Mac Mini (Windows 10 x64) and transferred it to my Acer Swift (also Windows 10 x64) but I get this error when running: `panic: failed to create window: APIUnavailable: WGL: The driver does not appear to support OpenGL`. Is this something on my end, or is there a way to solve this?

[2021-04-20 18:42] HACKERALERT commented on #170
Never mind, I updated Intel drivers and solved the issue.

[2021-04-20 18:42] #170 closed

[2021-04-21 05:04] AllenDang commented on #168
@vivekvardha Another solution is to use the CodeEditor widget it already implement a horizontal scroll bar. Check examples/codeeditor for demo.

[2021-04-21 05:06] AllenDang commented on #168
@vivekvardha If you just need to view the content, doesn't need to edit it, I think using FastTable+Label is a good solution to display a large set of text lines.

[2021-04-21 17:49] gucio321 opened #171 "examples/dynamicloadfont: example crashes"
Hi!
I wanted to run `examples/dynmiacloadfont` but it panics:
[code]

[2021-04-21 23:51] HACKERALERT opened #172 "How to change window background colour?"
Is there a way to change the background colour and text colour of a giu window? I tried `g.Style().SetColor(imgui.StyleColorWindowBg,color.RGBA{0xf5,0xf6,0xf7,255},)` and some others, but only the window's child elements were affected. The window itself didn't change background colour, and when I try to use `g.Style()....To(g.SingleWindow().Layout())`, it gives me an error.

[2021-04-22 04:54] AllenDang commented on #172
@HACKERALERT MasterWindow.SetBgColor()

[2021-04-22 04:57] AllenDang commented on #171
@gucio321 Open the source file of this demo, you will find there is a hardcode font file path, change it to any valid font path.

[2021-04-22 07:11] gucio321 commented on #171
@AllenDang already modified before panic report. loadFont method looks like:
[code]

[2021-04-22 08:05] AllenDang commented on #171
@gucio321 Can you tell me which line caused the crash?

[2021-04-22 09:39] gucio321 commented on #171
@AllenDang the panic isn't clear for me.
I commented out the following line:
`        fonts.AddFontFromFileTTFV(fontPath, 12, imgui.DefaultFontConfig, ranges.Data())`
and programm runs (obviously not working properly - characters are ????)

I attach my code:
[dynamicloadfont.txt](https://github.com/AllenDang/giu/files/6357196/dynamicloadfont.txt)

[2021-04-22 10:13] AllenDang commented on #171
@gucio321 Please paste the panic message with the code here.

[2021-04-22 10:34] gucio321 commented on #171
hmm, @AllenDang :confused: I suppose, that full stack trace is in the header post of this issue
![image](https://user-images.githubusercontent.com/73652197/115699277-cd84f800-a365-11eb-9751-ffe5bb3820a3.png)

But, I'll re-attach panic
[output.txt](https://github.com/AllenDang/giu/files/6357546/output.txt)

also, code again:
[dynamicloadfont.go](https://github.com/AllenDang/giu/files/6357196/dynami

[2021-04-22 10:36] gucio321 commented on #171
generally, DearImgui's assertion:
`Assertion `g.IO.Fonts->Fonts[0]->IsLoaded() && "Font Atlas not built. Did you call io.Fonts->GetTexDataAsRGBA32() / GetTexDataAsAlpha8()?"' failed`

[2021-04-22 11:18] AllenDang commented on #171
@gucio321 Strange, I could run your code under MacOS.

[2021-04-22 11:22] gucio321 commented on #171
hmmm.
my os info:
os: Fedora release 33 (Thirty Three)
desktop: GNOME Shell 3.38.4
go: go version go1.16.2 linux/amd64

[2021-04-22 11:25] gucio321 commented on #171
@allenDang so, is it DearImgui's or imgui-go's bug?

[2021-04-22 11:29] AllenDang commented on #171
@gucio321 What's your giu version?

[2021-04-22 11:30] gucio321 commented on #171
code from `master`

[2021-04-22 11:35] gucio321 commented on #171
@AllenDang but v0.5.3 doesn't work too

[2021-04-22 11:46] AllenDang commented on #171
@gucio321 It's weired.I figure you are using linux right? Sadlly I don't familiar with it...

[2021-04-22 14:31] HACKERALERT commented on #172
SetBgColor doesn't work:
[code]

[2021-04-22 16:41] madwizard commented on #171
stracing it I have

`[pid 39325] 18:40:34 openat(AT_FDCWD, "c:/Windows/Fonts/MSYHL.TTC", O_RDONLY) = -1 ENOENT (No such file or directory)
[pid 39325] 18:40:34 write(2, "dynamicloadfont: imgui_draw.cpp:"..., 191dynamicloadfont: imgui_draw.cpp:2115: ImFont* ImFontAtlas::AddFontFromFileTTF(const char*, float, const ImFontConfig*, const ImWchar*): Assertion `(0) && "Could not load font file!"' failed

[2021-04-23 05:26] AllenDang commented on #172
[code]

![截屏2021-04-23 下午1 25 41](https://user-images.githubusercontent.com/18550/115822620-6d5e8680-a437-11eb-957d-4a7995fcff68.png)

[2021-04-23 05:26] AllenDang commented on #172
@HACKERALERT If you use SingleWIndow, it will cover all area of MasterWindow, so you will not see the background color has been changed.

[2021-04-23 05:28] AllenDang commented on #171
@madwizard Because your are using wrong font path.

[2021-04-23 05:31] AllenDang commented on #171
@gucio321 I know what's going on here. If you are using range builder, make sure the font you choose does contain the character it build with. For example, in my demo, I have to use a chinese font so the range builder find the characters I intend to display and build the font texture correctly.

[2021-04-23 07:02] gucio321 commented on #171
oky, @AllenDang seems like it works!
thanx for help!
also, it looks, like if there is at least 1 character, which exists in a font.ttf, the panic doesn't appear.
e.g., if I'll do sth like that
[code]
the app will crash, but if I'll add a following line:
[code]
It will run properly (of course other than "x" letters will not be displayed)
In my opinion `giu` should check it, or it is `imgui-go`'s fa

[2021-04-23 08:00] AllenDang commented on #171
@gucio321 Font related issue is the pain in my ass... I'm working on how to solve it once for all right now...

[2021-04-23 13:55] #172 closed

[2021-04-25 09:57] #171 closed

[2021-04-25 09:57] #168 closed

[2021-04-25 09:57] #101 closed

[2021-04-25 16:33] HACKERALERT opened #173 "Widget state (enabled/disabled)?"
Is there a way to disable (and re-enable) a widget? There's a thread on imgui about this: https://github.com/ocornut/imgui/issues/1889. Just asking if it exists, not requesting it. Thank you.

[2021-04-25 18:04] Numenorean opened #174 "Where can i found sqlpower program from the screenshots path?"
It is located there as SqlPower.png, but i couldn't find it on the github

[2021-04-26 03:57] AllenDang commented on #174
@Numenorean Oh, SqlPower is a private project and it's quality is not ready to publish. Are you curious about some part of it?

[2021-04-26 03:58] AllenDang commented on #173
@HACKERALERT I'm afraid currently there is no such thing.

[2021-04-26 12:02] Numenorean commented on #174
I'd just like to see it as an example, because it's pretty interesting project. And yeah, i really liked imgui, so I'm trying to find as much real projects that uses that as possible. If it works even a little bit, could you publish it as a beta?

[2021-04-26 12:05] AllenDang commented on #174
@Numenorean We've used it as primary sql query tool in my team for almost 2 years and it works pretty good. But the code is messy, and doesn't have a good structure. I'm thinking to publish it in future, like within half year.

[2021-04-26 13:04] HACKERALERT commented on #173
Thanks for letting me know, I understand that Go is a new player in the desktop UI field.

[2021-04-26 13:04] #173 closed

[2021-04-26 15:03] Numenorean commented on #174
looking forward to, thanks

[2021-04-26 15:03] #174 closed

[2021-04-26 16:14] Numenorean opened #175 "How to resize PopupModalWidget?"
There is no method Size to do it. Is that possible?

[2021-04-26 16:21] Numenorean commented on #175
Solved

[2021-04-26 16:21] #175 closed

[2021-04-26 17:02] HACKERALERT opened #176 "How to know which TabItem is active?"
[code]

Sorry if I'm creating a lot of issues. Is there a way to know which tab is currently active? I looked in the widgets.go under examples but I couldn't find a way to do it. I tried

[code]

but it seems like OnClick doesn't exist for TabItem. Is there a way to know which tab is currently active? Thank you.

[2021-04-26 18:57] Numenorean opened #177 "How to move objects?"
Is there any way to do this? Or can i just remove them and add afterwards?

[2021-04-26 19:43] Numenorean commented on #177
As I understand I shouldn't add this object manually, but with custom widget(there will be if condition move object or not) and then(or before building object) add Dummy, then increment width or height?

[2021-04-27 03:58] AllenDang commented on #177
@Numenorean To move object horizontally in a line, use Dummy and update it's width as a spacer to change the location of the widget next to it. Note you could use negative number as width and height.

[2021-04-27 04:01] AllenDang commented on #175
@Numenorean Normmaly I will change the size of the widgets inside Popup, rather then set it's size, so the Popup could adapt different screen DPI.

[2021-04-27 05:10] AllenDang commented on #176
@HACKERALERT You could use g.IsItemActive() to check whether a tab is active.
[code]

[2021-04-27 05:21] Numenorean commented on #177
Can I do the same with height? I believe it is impossible because of the structure of layers that statically generated

[2021-04-27 05:47] AllenDang commented on #177
@Numenorean It's possible. Try below code. Group will create a column in same row.
[code]

[2021-04-27 11:32] Numenorean commented on #177
OH, I see. But is there any way to move it on vertical and horizontal in the same time?

[2021-04-27 11:56] AllenDang commented on #177
@Numenorean Oh man.... I don't know what to say...
Combine Group with Line.
[code]

[2021-04-27 12:50] Numenorean commented on #177
Thanks, and relax :) It doesn't work for me because I changed both height and width in the same Dummy

[2021-04-27 12:51] #177 closed

[2021-04-27 13:03] #176 closed

[2021-04-28 09:25] gucio321 opened #179 "Question: why don't switch to upstream-based (inkyblackness/imgui-go) imgui copy"
Hi!
Current giu stuff uses hard-modified [imgui-go repository](https://github.com/AllenDang/imgui-go)  with completely changed structure.
This imgui copy is really hard to sync with [upstream](https://github.com/inkyblackness/imgui-go) so, also [GIU](https://github.com/AllenDang/giu) can't follow the [Dear ImGui's base](https://github.com/ocornut/imgui).
Is it possible to make updates simplier?

[2021-04-28 09:37] gucio321 commented on #179
for example:
I want to add [this VSliderFloat widget](https://github.com/inkyblackness/imgui-go/blob/bed7fdfcba8248960e3d8a6aa251bc8665340d9d/Widgets.go#L502)
so first, I need to update [AllenDang/imgui-go](https://github.com/AllenDang/imgui-go).
I need to manually copy-paste VSliderFloat's stuff into imgui.go file.
It'd be much easier to just use `git cherry-pick`, right?
Also, if some bug appear

[2021-04-28 11:26] AllenDang commented on #179
@gucio321 I'd rather use a modified version so I could direclty change something and test in a short time. The thing I usually do is not copy somthing from imgui-go but hand-write the changes.

[2021-04-28 12:07] gucio321 commented on #179
You don't need to cooperate with imgui-go. You can use your own fork / new repo, but you'd be able to cherry-pick something from imgui-go.

lets tell, that you have a clear fork of imgui-go. You can make some changes and push them, but you can still update from upstream. in my opinion, it would take less work to keep the repository up-to-date, right?

[2021-04-28 12:23] AllenDang commented on #179
@gucio321 To this question, the reason why don't switch to upstream-based repo, is clear. For cherry-pick, yes, that will take less work. Thing is I don't cherry-pick for a long time cause my update goes faster :P

[2021-04-29 04:58] #179 closed

[2021-04-29 06:55] gucio321 commented on #179
oky, @AllenDang thanx for your answer!

[2021-04-30 19:41] dertseha commented on #30
Hello there!
I bring greetings from `go-gl/gl`, where a PR ( go-gl/gl#135 ) has landed that allows to handle `checkptr` issues - for the most common GL calls.

For example, instead of calling `gl.VertexAttribPointer()` the code needs to call the newly available `gl.VertexAttribPointerWithOffset()` - Note the change in type of the last argument.

There are a few more overloads with `WithOffset` in

[2021-04-30 23:47] kettek commented on #30
Great to hear! I will rework the changes in PR #83, as that used a fork of go-gl/gl that implemented WithOffset, to use the updated go-gl/gl version as well as to reintegrate imgui-go's TextureID fixes.

Thanks for the update!

[2021-05-02 15:49] tapir opened #180 "Is it possible to fake client side decorations?"
I have faked this in GLFW before with a borderless window and repositioning it when dragging. Is it possible to do something similar with giu?

[2021-05-04 02:26] citizenrich opened #181 "Help with basic split window"
Hi, thanks for the cool product! I'm trying to modify the splitter example to create a basic vertical split but not succeeding. I'd like just a left and right window. Can I have a hint on how to do so? Sorry for bothering, and again, thanks for this repo.

[2021-05-04 06:30] itsdux opened #182 "Undefined Reference Error"
I get this error when trying to run go build:

[code]

[2021-05-05 01:42] acbetter commented on #182
also got this error when I do cross-complie from macOS to Windows

build command `GOOS=windows GOARCH=amd64 CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ HOST=x86_64-w64-mingw32 go build -ldflags "-s -w -H=windowsgui -extldflags=-static" -p 4 -v -o "xxx.exe"
`

go.mod

[code]

error
[code]

[2021-05-05 02:31] acbetter commented on #182
also got this error when I do cross-complie from macOS to Windows

build command `GOOS=windows GOARCH=amd64 CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ HOST=x86_64-w64-mingw32 go build -ldflags "-s -w -H=windowsgui -extldflags=-static" -p 4 -v -o "xxx.exe"
`

go.mod

[code]

error
[code]

Finally I got a temp solution, `go get -v github.com/AllenDang/giu@v0.5.2`

[2021-05-06 03:10] AllenDang commented on #182
@acbetter @itsdux This issue is related to the version of MingW, check related section in README to get the right version of MingW should solve it.

[2021-05-06 03:11] AllenDang commented on #180
I don't quite understand your question. What do you mean by fake client side decoration?

[2021-05-06 03:14] AllenDang commented on #181
@citizenrich You mean create a split layout without enabling drag resizing? It's simple.
[code]

[2021-05-06 03:19] AllenDang commented on #30
@dertseha Wow! This is a great news! @kettek Thanks for your great work! Looking forward for your PR.

[2021-05-06 07:17] AllenDang commented on #182
@acbetter @itsdux I've pushed a fix, try `go get -u github.com/AllenDang/giu@master`.

[2021-05-06 12:44] itsdux commented on #182
Thanks for solving the issue! Great library 👍

[2021-05-06 12:44] #182 closed

[2021-05-06 13:14] citizenrich commented on #181
Thanks @AllenDang!

[2021-05-06 13:14] #181 closed

[2021-05-06 13:18] tapir commented on #180
I have seen that SetPos and SetSize methods are implemented for the master window so it's all good thanks

[2021-05-06 13:18] #180 closed

[2021-05-07 00:14] acbetter commented on #182
Thanks for solving!

This library is very great, I really like **Redraw only when user event occurred** feature, it costs almost zero CPU when I use MacBook. python-imgui always cost 99% cpu and fans sound loud.

[2021-05-09 12:47] #154 closed

[2021-05-12 06:04] SAXN-SYNX opened #183 "Android Support ?"
Does it support Android ?

[2021-05-12 06:31] AllenDang commented on #183
No. But I can see imgui itself is working on android support. I'll follow up later when it is stable.

[2021-05-12 06:31] #183 closed

[2021-05-12 22:22] HACKERALERT opened #184 "Button with same text doesn't trigger OnClick"
[code]

I have two buttons with the same text ("Copy"), but only the first one runs the OnClick function. If I click the first button, "MD5" is printed to the console as expected, but when I press the second, "SHA1" doesn't get printed to the console.

[2021-05-13 02:54] AllenDang commented on #184
Button's id should be unique, so use g.Button("Copy##MD5"), g.Button("Copy##SHA1").

[2021-05-13 03:07] HACKERALERT commented on #184
Aha, that did it. Thank you very much!

[2021-05-13 03:07] #184 closed

[2021-05-13 16:03] AllenDang opened #185 "GUYS I NEED YOUR HELP!!! To enpower giu to display text from any language."
Hi guys.

The font setting issue is a pain of giu. It blocks the hope to create universal application which aim to display text from any language.

I always need to deal with the font and glyph range before send my application to friends for different county.

After a long time search and lots of experiments, I refined the font system in master branch, to implement a mechanism which could build fo

[2021-05-18 18:07] HACKERALERT opened #186 "DPI scaling issue in v0.5.5"
It seems that a change in v0.5.5 has caused the DPI scaling to break (which wasn't present in v0.5.4). This is what things look like in v0.5.5:
![Screenshot (16)](https://user-images.githubusercontent.com/48808396/118700910-23bc4e00-b7e1-11eb-8521-7aeff6c3ee2c.png)
As you can see, things are not aligned properly and the font is huge. When I used v0.5.4, everything fit in the window and the buttons

[2021-05-19 02:28] AllenDang commented on #186
Thanks to report this. Can you tell me your OS and are you using a high DPI screen?
If you are using Windows with hight DPI, please help me to do some test.

Find giu source code folder, should be $GOPATH/src/github.com/AllenDang/giu, open `FontAtlasProsessor.go`, go to line 49, you will find font settings there.

Change the engilish font's size, increase or decrease, and run `examples/widgets` to

[2021-05-19 02:31] HACKERALERT commented on #186
Sure! It's a little late today, so I'll test things if I have time tomorrow.

[2021-05-19 02:54] AllenDang commented on #186
@HACKERALERT Thanks very much!

[2021-05-19 06:49] SamClarke2012 opened #187 "FR: Support OpenGL 2.1 for Raspberry Pi 4"
Great job on this project, I really like it!  Any chance of porting it to the Raspberry Pi 4 (opengl 2.1)?

I've had a quick attempt at getting imgui-go / giu running on the raspberry pi 4 (using a 60hz hi-res DPI touchscreen) by changing the go-gl / glfw versions to 2.1, but the code seems to hang before creating a window. I can't see any problems using LIBGL_DEBUG=verbose etc.  I expect that the

[2021-05-19 07:17] AllenDang commented on #187
@SamClarke2012 This should create a new renderer based on opengl 2.1. Frankly I'm not familiar with opengl, the reason I choose opengl 3.2 is simply think that higher version means better implementation...

[2021-05-19 08:23] SamClarke2012 commented on #187
@AllenDang I'm not familiar with opengl, but I am familiar with golang.  If I manage to get it working I'll let you know what was required.   The screen I'm using is running via a highspeed interface on the Raspberry Pi, but it's not on the PCI bus like opengl expects.  I'll run some tests via the HDMI ports when I get the time.🤞

[2021-05-19 09:18] SamClarke2012 commented on #187
To get it working for a Raspberry Pi 4,  you just need to force the version.  The latest drivers use 3.1/2 GLES (not 2.1), which is close enough.

`MESA_GL_VERSION_OVERRIDE=3.3`

Hopefully this helps someone else!

Keep up the great work Allen! I look forward to seeing this project develop into the future.
![pi4_opengl3_3](https://user-images.githubusercontent.com/1995384/118788102-4a619f80-b848-1

[2021-05-19 09:23] #187 closed

[2021-05-19 09:27] AllenDang commented on #187
@SamClarke2012 May you help me to do one more thing, preload some default fonts for Raspberry Pi platform. In `FontAtlasProsessor.go` I've create default fonts of English, Chinese and Japanese for Windows and MacOS, do you think we could do the same for RaspBerry Pi? Or it doesn't ship with any default font at all?

[2021-05-19 09:56] SamClarke2012 commented on #187
@AllenDang, sure.  I just had a look, and `/usr/share/fonts` is empty.  This is the latest Pi image (downloaded today).  A quick search seems to indicate that people tend to install fonts as required.

I guess you could package up an opensource font to float the demo examples across platforms?

[2021-05-19 10:02] AllenDang commented on #187
@AllenDang Got it. CJK fonts are huge (usually 10~20 MB) to ship with the package.

[2021-05-19 14:26] HACKERALERT commented on #186
What is the name of the previous monospace font used in v0.5.4? I can only figure out the appropriate size if I can compare it to v0.5.4 with the same font. So far, Calibri@10 seems like it fits, but I can give an exact number if I know the original font.

[2021-05-19 16:23] gucio321 opened #188 "widgets/inputintwidget: support for `uint32`"
Yo,
I need to use `giu.InputInt(...)` for displaying `uint32` value, but it is impossible for larger values.
the reason is obvious: max int32 value = 2^31
max uint32 = 2^32

Is it possible to do it althought? is this issue related with `giu` or I need to go higher; to the imgui-go and `Dear ImGui`?

[2021-05-19 17:57] HACKERALERT commented on #186
Also, since you've been working with fonts recently, is there a way to display unicode? I have a password box, and I would like to display `👁` next to the box to unmask the password, but it just shows up as `?`.

[2021-05-20 02:17] AllenDang commented on #186
@HACKERALERT I just pushed a update for the font scaling, can you help to try it? How the font size looks now?
For the colorful emoji, I'm working on it now, there are still some issues but I think I will figure them out.

[2021-05-20 02:18] HACKERALERT commented on #186
Sure, I can try that tomorrow when I have time.

[2021-05-20 02:25] AllenDang commented on #188
@gucio321 You could use a string as the bridge to work with uint32.

[code]

[2021-05-20 06:09] #188 closed

[2021-05-20 08:22] barnsza commented on #185
The default font on Windows for English and probably a few other languages (see the list of supported code pages on the website) is Segoe UI size 9, which is presumably scaled up for HDPI screens. I'm currently using it at size 16 and it still seems small (my content scale is set to 1.75). Link to font information: https://docs.microsoft.com/en-us/typography/font-list/segoe-ui

[2021-05-20 08:40] AllenDang commented on #185
@barnsza Thanks for the information. Font related part is trivial and complicate, different OS version comes with different default font, and different font comes with different drawing size. But I think this is something that a common GUI framework must conquer. I will follow your clue and work them out.

[2021-05-20 13:21] HACKERALERT commented on #186
@AllenDang The font works properly now. The font size is perfect:
![Screenshot (18)](https://user-images.githubusercontent.com/48808396/118985180-3bfcac00-b94c-11eb-80e9-e53def620290.png)
The buttons aren't aligned and the content is a little longer than the window because I had hard coded a `g.Dummy(x,0)`, and since the font's width is different from the previous font, there's some minor layout s

[2021-05-21 02:21] AllenDang commented on #186
@HACKERALERT Glad to hear that. One trick may help you to align the button easily, use negative number as the width of g.Dummy, like g.Dummy(-100, 0) will make it occupy avaialbe space minus 100.
And for the default font, it's kind of blurry compare with default UI font comes with OS. It's not easy to change default font by now. It's name is `ProggyClean.ttf`, you could find it at `https://github.

[2021-05-21 02:26] HACKERALERT commented on #186
Thank you very much for letting me know. This will make it _a lot_ easier to align the buttons properly. Since everything is solved, I'll close this issue. Thanks for your help, and I wish you good luck in continuing development of this awesome GUI. It's my go to Go GUI library because it's so small and fast.

[2021-05-21 02:26] #186 closed

[2021-05-23 17:54] aj3423 opened #190 "How to increase font size?"
The default font on Kali Linux is pretty small and not clear. How to increase the font size or use some other font line "FiraCode" ?
![font](https://user-images.githubusercontent.com/4710875/119271134-cd14a100-bc32-11eb-8a53-6da6144efea2.png)

[2021-05-24 03:07] HACKERALERT opened #191 "g.OpenPopup() in function?"
[code]
^ Works as expected. When I click the button, the modal shows. But, when I call it from a function like this:

[code]
I get a segmentation fault:
[code]

Any ideas on how I can dynamically open a modal, instead of having to bind it to a widget? Thank you.

[2021-05-24 05:00] AllenDang commented on #190
@aj3423 Can you tell me the default UI font's file name using by OS? I could add it to giu. Or refer `FontAtlasProcessor.go` and createa PR directly. Currently giu could adapte font for MacOS and Windows, but not Linux because I dont have any experience about it.

[2021-05-24 05:02] AllenDang commented on #191
Are you invoking `g.OpenPopup` from different goroutine?

[2021-05-24 07:52] AllenDang commented on #190
@aj3423 If you just need to set font once for this application you are making, you could use giu.AddFont.
[code]

[2021-05-24 08:47] AllenDang commented on #191
Here is a working demo.

[code]

[2021-05-24 14:03] HACKERALERT commented on #191
I was indeed running it from a goroutine. I'm running from the main thead now and everything works. Thank you!

[2021-05-24 14:03] #191 closed

[2021-05-25 05:57] aj3423 commented on #190
@AllenDang I tried the code, but the font is not changed, I tried "STHeiti", "FiraCode", or some other font, it looks the same as the previous image. I'm using Kali linux, the default system font is "Fira Code Medium" size 10.

[2021-05-25 07:52] AllenDang commented on #190
@aj3423 Just confirm, runtime.GOOS is 'linux' and the default font name is `FiraCode-Medium.ttf` right?

[2021-05-25 08:23] aj3423 commented on #190
@AllenDang Yes runtime.GOOS is 'linux', the default font name is `FiraCode-Medium.ttf`.
I tried the code, it works, the gui font is changed to FiraCode.

[2021-05-25 08:31] AllenDang commented on #190
@aj3423 Can you make a PR for this?

[2021-05-25 09:13] aj3423 commented on #190
@AllenDang I created a PR(https://github.com/AllenDang/giu/pull/192) , I'm new to creating PR, don't know if I did it right :)
But the `AddFont` function seems not work, sometimes I need to increase the font size, how to do that?

[2021-05-25 10:37] aj3423 opened #194 "Is is possible to create tree grid?"
The tree grid I want:

![1](https://user-images.githubusercontent.com/4710875/119483476-969c6a80-bd87-11eb-8ce5-e8f45b472d36.png)

The Image is a demo screenshot from [https://github.com/ocornut/imgui](url), but I don't find the implementation code.

 I tried:
[code]

It shows:
![2](https://user-images.githubusercontent.com/4710875/119483518-a156ff80-bd87-11eb-9890-282ef1245ed5.png)

How to fix it

[2021-05-25 11:40] AllenDang commented on #190
@aj3423 Thanks very much!

[2021-05-25 11:40] #190 closed

[2021-05-25 11:41] AllenDang commented on #194
@aj3423 Currently giu doesn't suppor to build tree grid yet. I'm trying to find a proper implmentation. Feedback to you later when it's done.

[2021-05-25 13:29] aj3423 commented on #194
@AllenDang Thanks. Looking forward to that.

[2021-05-26 10:40] nilopaim opened #199 "How to center a widget in the window?"
Is there a way to do this, no matter the size of the window? And by center, it means horizontally and/or vertically.

By the way, nice software! Congratulations!

[2021-05-26 11:41] AllenDang commented on #199
@nilopaim You will have to calcuate the widget size manually and use dummy to span space.
Here is a demo to place a button in the center of a window.
[code]

[2021-05-26 11:49] nilopaim commented on #199
@AllenDang Thanks! Exactly what I need!

[2021-05-26 11:49] #199 closed

[2021-05-27 08:39] #185 closed

[2021-05-31 03:09] HACKERALERT opened #202 "macOS OpenGL issue"
[code]

I'm running macOS Catalina in a VirtualBox with KVM acceleration, host is Debian 11 with GNOME.

I have already `brew install glfw3` and `brew install glew`. Any ideas? I don't use macOS and I'm only doing so now to build my software so I can publish it. Maybe update to Big Sur? Thank you.

[2021-05-31 05:40] AllenDang commented on #202
Seems VirtualBox doesn't support OpenGL.

[2021-05-31 06:18] #202 closed

[2021-06-01 03:11] HACKERALERT opened #203 "Change window icon?"
I created a giu program. When I run it, the window doesn't have an icon (as I expected). I used the Resource Hacker to change the icon of the executable, but when I run it, the window icon is still the generic program icon, not the one I set it to. Is there a way to set the window icon of a giu program? Perhaps a GLFW function or imgui function? Thank you.

[2021-06-01 03:36] AllenDang commented on #203
@HACKERALERT Use Resource Hacker, add an Icon named 'GLFW_ICON'.

[2021-06-01 12:16] gucio321 opened #204 "giu.Selectable: how to set double-click event"
Hi,
I need to handle event on `giu.Selectable` when it is double-clicked
<details><summary>I wrote a following code</summary>

[code]

</details>

But I never see "I was double clicked" message

[2021-06-01 12:25] AllenDang commented on #204
@gucio321 Use event detector code like this.

[code]

[2021-06-01 13:05] HACKERALERT commented on #203
Great, that makes sense. Thank you!

[2021-06-01 13:05] #203 closed

[2021-06-01 15:18] gucio321 commented on #204
@AllenDang but this code also prints `I was double clicked` when you click outside of `double-click me` selectable

[2021-06-01 16:12] aj3423 opened #205 "How to set width of table column?"
For example, I want
1. width of column 1 is 100,
2. width of column 2 is 200,
3. width of column 3 auto fill the rest,

How to do that?
[code]
There seems to be `imgui.SetColumnWidth` but I don't know how to use it, always crashes.

[2021-06-03 05:18] AllenDang commented on #204
@gucio321 Sorry, I missed a flag. Here is the code.
[code]

[2021-06-03 05:24] AllenDang commented on #205
@aj3423 Do like this.
[code]

[2021-06-04 08:32] valentinEmpy opened #206 "Do not bring MasterWindow to foreground"
Hi folks,
I do not see such a feature implemented - is it possible to make the master window unfocusable (not come to the foreground on mouse click).
I am trying to achieve something similar to a window with flags (WS_EX_NOACTIVATE | WS_EX_TOPMOST | WS_EX_LAYERED).
Could this be achieved? If not I'd be interested to dive into the topic and possibly contribute.
Thanks!

[2021-06-04 09:10] AllenDang commented on #206
@valentinEmpy Currently it is not implemented. Giu is based on GLFW, so I did a quick check, here is the window related attributes.
[code]
The mose related attributes are FocusOnShow and Floating. Seems it lacks NO_ACTIVATE.

[2021-06-04 11:51] valentinEmpy commented on #206
@AllenDang
After digging a little bit, I was able to achieve what I wanted by using the win32 API and modify the "extended window styles" programmatically: https://pastebin.com/B5SwjFNp
The result is a fully transparent, click-through window.
Just for reference if anyone needs to achieve this.

[2021-06-04 11:51] #206 closed

[2021-06-04 17:16] gucio321 commented on #204
@AllenDang, but double-click out of `Selectabl` box, still prints `Double click detected`. The message should be only displayed, when double-clicking on `Double click me`

[2021-06-05 08:17] AllenDang commented on #204
@gucio321 Sorry again. I should check whether selectable is hovered first. Here is the code.
[code]

[2021-06-05 09:31] gucio321 commented on #204
ok, works fine, thank you

[2021-06-05 09:36] gucio321 commented on #204
@AllenDang one more question:  Is `g. SelectableFlagsAllowDoubleClick` necessary? It seems working without that.

[2021-06-05 09:55] AllenDang commented on #204
@gucio321 The flags will make selectable report Click event when it is DClicked. So in your scenario, it is unnecessary.

[2021-06-05 11:37] #204 closed

[2021-06-05 12:04] gucio321 opened #207 "clickable point on image"
Hi there,
I have an image and I need to handle event, when clicking on a specified image area.
my first idea was, to to get mouse XY and cursor XY:
[code]
and then detect click event but it works only in `giu.SingleWindow`.
If we use multiple windows, `cursorPos` is a position of cursor in particular `WindowWidget` not in `MasterWindow`

[2021-06-05 12:27] gucio321 commented on #207
<details><summary>example</summary>

[code]

</details>

this is a modified copy of `examples/loadimage`

[2021-06-05 14:29] gucio321 commented on #207
oh, ok. I found a solution:

<details><summary>code</summary>

[code]

</details>

[2021-06-05 14:29] #207 closed

[2021-06-06 05:16] AllenDang commented on #207
@gucio321 You could use ImageWithFile if you intend to load and display image from file. As well as the ImageWithUrl.

[2021-06-06 05:37] gucio321 commented on #207
@AllanDang it is a code from `examples/loadimage` example :grinning:

[2021-06-06 06:14] AllenDang commented on #207
@gucio321 Guess I need to update the demo.

[2021-06-06 18:57] gucio321 commented on #207
@AllenDang I think, that `giu` is a nice implementation of `imgui-go`. It is also much easier in use than imgui.

[2021-06-07 09:12] gucio321 opened #208 "widgets/PopupModal: using `IsOpen` method doesn't work properly"
Hi there,
I want my PopupModal opens, when I change some variable value to `true`
<details><summary>code looks like that</summary>

[code]

</details>

but any popup isn't opened, when I click the button.
Is it possible to do that without calling `giu.OpenPopup(...)`?

[2021-06-07 09:15] gucio321 opened #209 "no `FireCode-Medium` font on fedora-linux"
Hi there,
I see a following warning on my machine:
[code]

OS: Fedora release 32 (Thirty Two)
(on Fedora 33 the same)
Desktop: GNOME Shell 3.36.9

[2021-06-07 09:32] AllenDang commented on #209
@gucio321 What's the default UI font for your system?

[2021-06-07 09:37] AllenDang commented on #208
You can use a bool to control popup like this, but I don't think it's elegent.
[code]

[2021-06-07 10:52] gucio321 commented on #209
@AllenDang I suppose, it is something like that
![image](https://user-images.githubusercontent.com/73652197/121004539-19152900-c78f-11eb-8fb5-669ba3abeebd.png)

[2021-06-07 11:08] AllenDang commented on #209
@gucio321 Is there anything we could distinguish your system from kali-linux? I think runtime.GOOS should both return linux.

[2021-06-07 12:20] gucio321 commented on #209
@AllenDang I suppose, you need to use some golang module like [this](https://github.com/gravestench/osinfo)
this repo is based on a gist, so you can use this code: https://gist.github.com/flxxyz/ae3ef071dc4ffb0c55daedc7f0740611

[2021-06-07 12:25] gucio321 commented on #208
hmm, @AllenDang I just found this: https://github.com/ianling/giu/commit/98573db688bb981afbf9b000689dce792bd7c344 what do you think about `cherry-pick`?

[2021-06-07 12:26] gucio321 commented on #209
generally, you can access `/etc/*release` to get linux distribution name

[2021-06-07 12:45] gucio321 commented on #209
@AllenDang btw of fonts.
On gnome desktops, there is a config entry for default font.
you can call the following command: `gsettings get org.gnome.desktop.interface font-name`

[2021-06-07 13:22] AllenDang commented on #208
@gucio321 I don't think it's a good idea. IsOpen is a indicator to check whether the popup is opened. If we use it to trigger the open event, it should be able to trigger close event by setting it to false. It's kind of violate the purpose just for a grammer sugar.

[2021-06-07 13:28] AllenDang commented on #209
@gucio321 I just removed the warning about missing default font message and add Cantarell as another default font for linux. Because there are too many linux distributions out there, I think I just need to add more and more default fonts for linux, and this will be much easier to do.

[2021-06-07 15:37] #209 closed

[2021-06-08 02:45] AllenDang commented on #208
@gucio321 I know the pain for popup, as they have to be placed at the same level where the open method is invoked. I'm thinking about how to solve it properly.

[2021-06-09 08:15] cvq opened #210 "There is an issue with download/install"
I try to download/install giu, but there is an issue:
+ "go get github.com/AllenDang/giu@master". This gives the following message: go: can only use path@version syntax with 'go get' and 'go install' in module-aware mode
+ "go install github.com/AllenDang/giu@master". This gives the following message: go install: package github.com/AllenDang/giu is not a main package
Please help to fix. Thank you.

[2021-06-09 09:47] AllenDang commented on #210
@cvq The error message indicates you should run it in a go project with mod enabled. If you want to install giu globally, just run 'go get github.com/AllenDang/giu`.

[2021-06-09 12:40] cvq commented on #210
Follow your instruction, it' ok now.
Thank you.

[2021-06-09 12:54] AllenDang commented on #210
@cvq You are right, I should update the installation instruction.

[2021-06-09 12:54] #210 closed

[2021-06-09 13:46] ocornut commented on #173
For cross referencing, we added PushDisabled/PopDisabled in imgui_internal.h today:
https://github.com/ocornut/imgui/issues/211#issuecomment-857704649

[2021-06-09 14:02] AllenDang commented on #173
@ocornut Wow! That's really useful! I will support it ASAP. Thanks for notice!

[2021-06-09 14:07] HACKERALERT commented on #173
@ocornut Thank you very much! I've been hoping for this feature in giu, and it looks like it will be possible now! Good luck to AllenDang as well for the implementation.

[2021-06-10 04:44] ItsVoltz commented on #199
Yeah but how can we do it with inputs? I wanna just center every widget on my UI, except I cant seem to find correct padding for inputs etc...

[2021-06-10 05:01] AllenDang commented on #199
@ItsVoltz The size of input could be set explicitly with Size() method. And you could the the width of label text by CalcTextSize().

[2021-06-10 05:14] ItsVoltz commented on #199
Yes I did this, however the differences in the widths of the text labels cause the center to be off a few pixels, I tried doing a blank label and doing a label myself but then the horizontal padding looked funky

[2021-06-10 07:38] AllenDang commented on #199
@ItsVoltz Can you describe more clear what are you trying to archive (a simple layout painting will be helpful)? Let me see what I can do to help.

[2021-06-10 12:02] AllenDang commented on #173
@HACKERALERT I just pushed a commit to add "Disabled" method to ButtonWidget, it works as expect! :)

[2021-06-10 13:13] HACKERALERT commented on #173
Awesome! Thank you and ocornut so much, widget states are a valuable feature for a UI library :)

[2021-06-10 15:08] ItsVoltz commented on #199
Alright, so here is my UI:
![kAnlUNI](https://user-images.githubusercontent.com/29076540/121549592-fe83bf80-c9db-11eb-92f9-c5dcf5f0ec33.png)

My Loop:
[code]

By default all widgets are aligned to the left, I want everything to be aligned horizontally to the center

[2021-06-10 19:01] dFionov opened #211 "Crash in InputText with InputTextFlagsPassword set"
Repro:
[code]
Exception:
[code]

[2021-06-11 06:22] AllenDang commented on #211
@dFionov Thanks to report this issue. I can repo at my side. Checking it now.

[2021-06-11 20:54] HACKERALERT commented on #11
@AllenDang @rjablecki Here's a short example of adding widgets dynamically:

[code]

[2021-06-12 22:37] ItsVoltz commented on #199
Bump

[2021-06-14 16:17] gucio321 opened #212 "fatal panic on starting giu"
Yo,
I just noticed, that `giu` doesn't start on my machine anymore.
When I'm running any example/code, it crashes with a following panic:
[code]

I'm running examples/widgets.

my system:
- OS: Fedora 33
- desktop: gnome-shell 3.38.4

[2021-06-14 16:25] gucio321 commented on #212
I think, it stopped working when ddbd02d072fc6942fa264259a7bfd1d5f6d98b7e was commited

[2021-06-14 16:39] gucio321 commented on #212
also might be related with this panic: https://github.com/AllenDang/giu/issues/171

[2021-06-14 16:50] gucio321 opened #213 "fonts: adding custom fonts"
Hi there,
In some cases, I want to add a font from my own source (e.g. byte slice) using e.g. IO().Fonts().AddFontFromMemoryTTF(...) but it looks, that font atlas rebuilder clears currently registered fonts. so how to register a font from bytes using imgui/giu? Also I need to specify a custom glyph ranges (like japanese / korean e.t.c)

[2021-06-15 09:23] AllenDang commented on #211
@dFionov It is fixed.

[2021-06-15 09:24] AllenDang commented on #212
@gucio321 Can you post the demo code?

[2021-06-15 09:37] gucio321 commented on #212
@AllenDang  generally any code deosn't work for me
<details><summary>e.g. this hello world example</summary>

[code]

</details>

<details><summary>panic message is here</summary>

[code]

</details>

[2021-06-15 09:39] AllenDang commented on #213
@gucio321 Check the demo code located at `examples/multiplefonts`. And you don't need to specify custom glyph ranges, font atlas processer will build all the fonts in UI dynamically.

[2021-06-15 09:44] AllenDang commented on #11
@HACKERALERT Good suggestion, will do. And I think this is the most charming part of immediate ui. :)

[2021-06-15 09:50] gucio321 commented on #213
@AllenDang but how to add a font from a `custom source`?
e.g. I have a font loaded into a byte slice (by go:embed) and I want to load it.
the example only shows, that I can load font from its name (using  `g.AddFont(...)`)

[2021-06-15 09:59] AllenDang commented on #213
@gucio321 I see, I need to add a new method to do that. Get back to you later when it's ready.

[2021-06-15 10:33] AllenDang commented on #213
@gucio321 It's done. Try the new function "AddFontFromBytes".

[2021-06-15 10:35] #211 closed

[2021-06-15 16:42] gucio321 commented on #213
@AllenDang this fonts stuff doesn't seems working correct:
<details><summary>code</summary>

[code]

</details>

![image](https://user-images.githubusercontent.com/73652197/122091520-2c686a00-ce09-11eb-97fa-39cee95cbca6.png)

this font doesn't seem to be diffrent than default

[2021-06-16 07:33] AllenDang commented on #213
@gucio321 That means none of the default fonts can be found in your system. I've changed to logic to use default font if none of the pre-registered fonts can be found. But can you help to test what's the right font name for your system?

[2021-06-16 07:55] gucio321 commented on #213
@AllenDang I'm currently not loading any default font because of #212.
But I suppose, that `giu.Label(...).Font(...)` should change default font to this loaded by the programm...

[2021-06-16 08:05] AllenDang commented on #213
@gucio321 Try newest code.

[2021-06-16 08:43] gucio321 commented on #213
ok, it works fine for now

[2021-06-16 08:43] #213 closed

[2021-06-16 08:45] gucio321 commented on #212
@allenDang If I comment out default font for my system (like in 27a6345 ) gpp starts

[2021-06-16 09:03] AllenDang commented on #212
@gucio321 How about now? Does it still crash?

[2021-06-16 09:04] gucio321 commented on #212
yah,, the same panic

[2021-06-16 09:10] AllenDang commented on #212
@gucio321 Can you add `fmt.Println(fontInfo)` to `FontAtlasProsesor.go` at line 201 and post the printed content ?

[2021-06-16 09:15] gucio321 commented on #212
[code]

[2021-06-16 09:22] AllenDang commented on #212
@gucio321 What's the return value of `fonts.AddFontFromFileTTFV(fontInfo.fontPath, fontInfo.size, fontConfig, ranges.Data())`

[2021-06-16 10:35] gucio321 commented on #212
@AllenDang still crashes

`49777936`

[2021-06-16 10:39] AllenDang commented on #212
@gucio321 It's really weired...

[2021-06-16 11:24] gucio321 commented on #212
Thats only thing I'm sure of :smile:

[2021-06-16 12:03] AllenDang commented on #212
@gucio321 Ok... I removed cantarell. Still curious about why...

[2021-06-16 13:01] spiralw commented on #166
Hi! Any update on this?

[2021-06-16 13:18] gucio321 commented on #212
maybe `imgui` can't read this font?
well, it can read but cannot find any glyphs in it?...
just my guess, I didn't check it any way

[2021-06-16 13:23] gucio321 opened #215 "how to change a default font"
Hi,
I'd like to change a default font.
Befor your font atlas refactor it was possible by `giu.IO().Fonts().AddFontFromFileTTFV(...)`
how to do that now?

[2021-06-16 13:40] AllenDang commented on #215
The reason why I intend to create font atlas builder is, not more change default font staff should in the way to create a GUI app. This should be handled by framework itself like Qt, wxwidgets does.
I think the best way is to register a readable font in FontAtlasProcessor, create a PR, and solve this kind of issues once for all.

[2021-06-16 13:42] AllenDang commented on #166
@spiralw Sorry for the delay, I'm processing font related issues recently, will do the integration ASAP.

[2021-06-16 14:30] gucio321 commented on #215
Yah, but I'm creating an app, where I want to use my own font, not system defined font.

well, user shouldn't carry about default font, but framework should provide a feature to change it if the user want it.

[2021-06-16 14:51] AllenDang commented on #215
@gucio321 Fair enough, SetDefaultFont is added.

[2021-06-16 14:55] gucio321 commented on #215
@AllenDang maybe `SetDefaultFont(f *FontInfo)` would be better?
if not, you also need to add `SetDefaultFontFromBytes` (#213)

[2021-06-16 15:07] AllenDang commented on #215
@gucio321 Sure, to avoid confusion, I added SetDefaultFontFromBytes.

[2021-06-16 15:23] gucio321 commented on #215
okey, thank you

[2021-06-16 15:23] #215 closed

[2021-06-16 15:38] gucio321 commented on #208
@alldndang why are there two ways to open/manage open-state of popups?
1. IsOpen method
2. giu.OpenPopup(...), giu.CloseCurrentPopup()

[2021-06-16 19:10] gucio321 commented on #212
yah, thats deffinitly font's fault - any other font works.
so `cantarel` cannot be used.
<details><summary>here is a content of my `/usr/share/fonts` directory</summary>

[code]

</details>

Lot of users might have `wine` installed, so I suggest you to add `wine-times-new-roman-fonts`
you can also add some other popular fonts e.g. `gnu-free` but it doesn't look so beautiful
also let's add some of

[2021-06-16 19:14] gucio321 commented on #212
the only question left is: why `cantarell` doesn't work :smile:

[2021-06-17 03:04] AllenDang commented on #212
@gucio321 Can you rise a PR to add google-note? I think it looks cool.

[2021-06-17 03:06] AllenDang commented on #208
IsOpen is used to check whether the popup is opened. In case you need to do some background operation when some popup is opened.

[2021-06-17 06:36] #212 closed

[2021-06-17 06:37] gucio321 commented on #212
@AllenDang thats really strange, but atm I'm on other my machine and google-noto looks like:
![image](https://user-images.githubusercontent.com/73652197/122344514-2aa4c080-cf47-11eb-8ac9-dcc8cfd57c8a.png)
so I decided not to add it :-)

[2021-06-17 10:41] gucio321 commented on #208
but why couldn't it be used to manage PopUp's state?
e.g., you can do:
[code]

[2021-06-17 11:18] AllenDang commented on #208
It will break the mechanism how popup works in imgui. I know current implementation causes many misunderstanding, so does the author of imgui. I noticed this part will be refined in near future, so I intend to wait few releases of imgui.

[2021-06-20 23:39] jcbritobr commented on #37
This is the best gui project for go today. The really effective one. A very nice work.

[2021-06-20 23:47] jcbritobr opened #219 "Cover the project with tests(not a bug)"
First of all, i want to congratulates by the very nice project. It is a very important step for a really effective golang ui toolkit. To make it solid, it only needs a good test coverage layer to make it perfect.

[2021-06-21 02:44] AllenDang commented on #219
@jcbritobr Sure thing, I'm doing it right now.

[2021-07-01 16:49] Ramoflaple commented on #151
You are not alone. I have the same problem with the same mingw version as yours.

[2021-07-01 17:13] Ramoflaple commented on #151
emm, linking to libimm32.a solves the problem

[2021-07-02 20:05] gucio321 opened #221 "tabbar: assign selected tab item to a variable"
lets say, I have a `TabBar` with `TabItem`s. e.g.
[code]
how to identify/set, currently selected tab item?
e.g. to assign the number (`?`) of selected tab item to a variable

PS: very cool ID setter :grinning:

[2021-07-02 20:09] gucio321 commented on #221
btw, another question:
[code]
does it make sens to put something else than `TabItem`s in `layout` field? maybe this field should be just of type `[]TabItemWidget`?

[2021-07-02 20:19] gucio321 opened #222 "unexpected panic while loading textures"
hi,
I was testing something else and noticed the following behavior:
<details><summary>code</summary>

[code]

</details>
<details><summary>panic message</summary>

[code]

</details>

do I need to load textures inside of loop func?

[2021-07-04 07:48] AllenDang commented on #221
@gucio321 You are right. I've changed the TabBar.Layout to TabBar.TabItems.
And TabItemWidget.IsOpen(..) could be used to check which tab item is activated.

[2021-07-04 07:50] AllenDang commented on #222
@gucio321 You should invoke giu.NewTextureFromRgba from another thread.

[2021-07-04 07:54] AllenDang commented on #221
@gucio321 And to set selected tab item, use TabItemWidget.Flags(TabItemFlagsSetSelected).

[2021-07-04 12:13] aj3423 opened #224 "How to handle table row double-click event"
I tried:

[code]

I expect it print "Clicked: JobA"  when double click on row 1,  but it prints both "Clicked: JobA" and "Clicked: JobB" on double clicking any row, how to fix it?

Another question is how to change the color of progress bar? It's yellow by default, I tried:
[code]
But it's still yellow.

[2021-07-05 12:57] AllenDang commented on #224
@aj3423 First of all, label doesn't respond to any event, so you need to use selectable instead. And here is the demo code
[code]

[2021-07-05 13:00] AllenDang commented on #224
@aj3423 And for the color of progress bar, use
[code]

[2021-07-05 14:02] aj3423 commented on #224
@AllenDang Thanks. The color works. About the db-click event, I was trying to handle event like row-double-click or row-right-click , is it possible ?

[2021-07-06 14:47] eliodilar commented on #151
@Ramoflaple you'r a boss man ;-)

[2021-07-08 05:18] AllenDang commented on #224
@aj3423 Sorry for late reply. Try this:
[code]

[2021-07-08 07:03] aj3423 commented on #224
I tried this, but it still prints two "DClicked 1" when double clicking on the first row.

[2021-07-08 07:15] AllenDang commented on #224
@aj3423 Here are full demo code which works fine on my machine with newest code of giu.
[code]

[2021-07-08 08:16] aj3423 commented on #224
@AllenDang Thanks. I updated to latest, seems works fine now. Previously I was using version "v0.5.5-0.20210630074117-071e3b7284b4",  doesn't work with the same code.

[2021-07-08 08:17] #224 closed

[2021-07-08 11:09] aj3423 opened #226 "Custom widget renders at new line even in giu.Row"
[code]

I expect the three items in one row,  but actually they are in two lines.
![111](https://user-images.githubusercontent.com/4710875/124911924-e7a6ac00-e01f-11eb-84f0-248f90b4699e.png)

[2021-07-08 13:17] AllenDang commented on #226
@aj3423 Thanks for reporting this, it is fixed now.

[2021-07-08 14:07] #226 closed

[2021-07-08 20:13] gucio321 commented on #222
fair enough

[2021-07-08 20:13] #222 closed

[2021-07-10 02:18] macbutch opened #227 "Need a little help with colours"
Hello and thank you for the excellent work here. I'm really enjoying working with giu and particularly surprised at how easy (almost) everything has been. It's really really nice.

I'm using 0.5.4 and I'm trying to understand how to customise colours. Mostly, I have it working but there's a few points that I've not figured out yet. Specifically, right now, I'm trying to find a way to change the co

[2021-07-12 07:33] AllenDang commented on #227
@macbutch Sorry for late reply. Use this
[code]

[2021-07-12 08:15] macbutch commented on #227
Thanks @AllenDang! Works perfectly.

[2021-07-12 08:15] #227 closed

[2021-07-13 16:02] #221 closed

[2021-07-13 16:02] #208 closed

[2021-07-16 15:43] HACKERALERT opened #228 ".Size(-1) is 1px less than width"
When I want to make a button take up the whole window, I use `btn.Size(-1,h)`. However, the button is 1px smaller than full size. If I use `btn.Size(-0.01,h)`, now the button takes up the whole screen. Is there a standard way in giu to make the button take up the whole window, not just to the last pixel and therefore be 1px less than the window width? Not sure about you, but being 1px off makes me

[2021-07-17 04:09] AllenDang commented on #228
@HACKERALERT Currently you could calculate avaiable region and set button's width manualy.
[code]

[2021-07-17 16:49] HACKERALERT commented on #228
Unbelievable how there's (almost) always a way in giu to do something 🙏 . Thank you very much, keep up the awesome work!

[2021-07-19 02:36] HACKERALERT commented on #228
@AllenDang I thought you had a typo, so I tried `g.GetAvailableRegion` (correct spelling), but it seems like that isn't defined and `g.GetAvaiableRegion` works and it's not spelled correctly. Do you plan on correcting the spelling?

[2021-07-19 02:37] AllenDang commented on #228
@HACKERALERT You could create a PR for that :P

[2021-07-19 02:38] HACKERALERT commented on #228
Alright, np. Do you know which file the function is defined?

[2021-07-19 11:43] AllenDang commented on #228
@HACKERALERT I got it fixed. :P

[2021-07-19 11:43] #228 closed

[2021-07-19 20:17] HACKERALERT opened #229 "Dropdown in TabBar?"
Is there a way to put a widget in a TabBar that's not a TabBarWidget? I'd like to put a language dropdown menu on the right side of a TabBar but currently haven't thought of a possible way. For example:
![Screenshot (122)](https://user-images.githubusercontent.com/48808396/126221577-f60eb359-1aba-48c4-96ad-9f04e36c804e.png)
Thank you very much!

[2021-07-20 10:05] AllenDang commented on #229
@HACKERALERT Try this
[code]

[2021-07-20 11:56] ojanovsky opened #230 "How to use keyboard's arrows for navigation in Table?"
Please, how to do keyboard's navigation in Table?

[2021-07-20 11:58] AllenDang commented on #230
@ojanovsky Can you describe more?

[2021-07-20 12:03] ojanovsky commented on #230
I want to use keyboard navigation in Table. Not only mouse. Arrow keys for move cursor between columns and rows, enter for action, PgUp, PgDown for scrolling ....

[2021-07-20 12:56] AllenDang commented on #230
@ojanovsky giu currently doesn't have direct support for this. You may need to check imgui's manual directly.

[2021-07-20 13:58] HACKERALERT commented on #229
Oh, that is genius! Save the current position, add the widget, then reset! Many thanks for this genius solution :)

[2021-07-20 13:58] #229 closed

[2021-07-20 15:05] HACKERALERT opened #231 "Suggestion: Use universal font"
Hi Allen,

I know that you are in the process of adding multiple language fonts to giu. I have a suggestion: Use a font that contains multiple language character sets to make the look of giu universal, and also to simplify multilingual support. For example, Google's [Noto](https://www.google.com/get/noto/) font supports 582 languages:
![Screenshot (124)](https://user-images.githubusercontent.com/4

[2021-07-21 02:44] AllenDang commented on #231
@HACKERALERT Oh, thank you! I'll check it out and feedback to you.

[2021-07-21 02:59] HACKERALERT commented on #231
I just fixed the broken link :)

[2021-07-21 10:42] ojanovsky commented on #230
Thank you, for explanation.

[2021-07-22 17:00] gucio321 opened #233 "widgets/ImageButtonWidget: use image.rgba instead of texture arg"
Hi there,
as you know, loading textures is a bit painful, is it possible to rewrite ImageButton using `image.RGBA` instead of `Texture`? or maybe add a new type like `image` and `imageWithRGBA`

[2021-07-22 19:14] gucio321 opened #234 "imageWithRGBA: id generator"
https://github.com/AllenDang/giu/blob/fe0ecd71ecfc27472e790f4d64b7e29e8941197d/Widgets.go#L737
it might behave in unexpected way. e.g. what if the first 100 pixels of image is empty or you want to display the same image 2 times?

[2021-07-22 19:35] gucio321 opened #235 "window icon"
hi there!
in reffer to #203 i found, that hajimehoshi/ebiten, which also uses GLFW provides a function to change window icon.
https://github.com/hajimehoshi/ebiten/blob/main/window.go
https://github.com/hajimehoshi/ebiten/blob/0ec5b7b8572fa023019c049c3b9e5d3358b70e6c/window.go#L92
[code]

also, in go-gl/glfw:
https://github.com/go-gl/glfw/blob/master/v3.3/glfw/window.go
https://github.com/go-gl/gl

[2021-07-23 02:41] AllenDang commented on #233
@gucio321 I think its reasonable to rewrite ImageButton. I'll do that soon, or you could create a PR?

[2021-07-23 02:43] AllenDang commented on #234
@gucio321 Yes, that's a problem. Maybe I should use AutoID, should be more robust. You think?

[2021-07-23 02:45] AllenDang commented on #235
@gucio321 Thanks! I will take a look.

[2021-07-23 10:57] gucio321 commented on #234
should be better

[2021-07-23 11:00] gucio321 commented on #233
I can, just tell me, how would you like to  do that:
1. should I leave ImageButton, and add something new
2. or make ImageButtonWidget to use image.RGBA

[2021-07-23 11:11] gucio321 opened #236 "widgets/imageButton: use autoID"
hi there!
if we'll use the same texture for imageButton 2 or more times, app will crash
[code]
I suggest to use auto id generator

[2021-07-27 04:48] #233 closed

[2021-07-27 12:58] AllenDang commented on #236
No, the first param's type is defined in imgui, cannot change it to string here.

[2021-07-27 12:59] #236 closed

[2021-07-27 13:11] AllenDang commented on #234
@gucio321 It is fixed.

[2021-07-27 13:29] AllenDang commented on #235
@gucio321 I think it's not the time to set icon to window by using those apis. Currently I intend to pack resources by external cmd like rsc for windows and plist for MacOS. Reason is the resource path is platform dependent. Maybe we could facilitate resource loading related api when imgui's docker branch is merged to main.

[2021-07-27 13:31] AllenDang commented on #231
@HACKERALERT I've check it and I think it's not a good solution to embed those fonts directly into giu. Cause this will increase the size (like 30+MB) of giu and make the deployment more complicate.

[2021-07-27 13:41] HACKERALERT commented on #231
Cool, no problem. Just a suggestion, it's totally up to you :)

[2021-07-27 13:41] #231 closed

[2021-07-28 00:14] NetForces opened #239 "Play a video"
Is there a way to play a video within an app build with gui ?

I know it's possible to pass `mplayer` the ID of a window with the `-wid` switch:

[code]

I have done this in the past in Windows with AutoIT and would like to do something similar for Linux with Go and gui...

Thanks.

[2021-07-28 10:08] daiwhea opened #240 "how can I make custom widget occupying some width/height"
I have viewed examples/customwidget.go. If I commented out two lines. It will see picture below.

So it's g.InvisibleButton who make this custom widget moved the CursorPos.

There is g.GetCursorPos() to get canvas cursor position. But we have no g.SetCursorPos() to set cursor position.

My question is: if I create a chart, how can I make my widget occupying some width/height?

[code]

![782BBCDE-5

[2021-07-28 10:37] daiwhea commented on #240
And I see if I commented out those two lines. The code below won't catch hover.

So my next question is: How can I use keyboard/mouse event in custom widget?

eg. If I draw a list of stock exchange bars. When mouse hover or click on one bar, I wish to know it's which bar.

[code]

[2021-07-28 10:49] daiwhea commented on #240
And I see if I commented out those two lines. The code below won't catch hover.

So my next question is: How can I use keyboard/mouse event in custom widget?

eg. If I draw a list of stock exchange bars. When mouse hover or click on one bar, I wish to know it's which bar.

[code]

[2021-07-28 11:42] AllenDang commented on #240
@daiwhea Update giu to newest version you will see g.SetCursorPos :P

[2021-07-28 11:49] daiwhea commented on #240
Thanks @AllenDang . You mean, no matter what I'm drawing, I should use InvisibleButton to receive events?

[2021-07-28 12:07] AllenDang commented on #240
@daiwhea Use master branch, just get the newest code. And yes, once you will dealing with events, use InvisibleButton to catch them.

[2021-07-28 12:14] AllenDang commented on #239
@NetForces I didn't give a try to embed a video player, but I think it should work if we could get the window ID for master window, problem is this is platform dependent, I think the proper solution is to integrate with some video lib like libvlc-go.
But currenlty I may not have enough time to do that...

[2021-07-28 12:14] daiwhea commented on #240
@AllenDang Thanks. I can get mouse position via g.GetMousePos().

But I can not see g.SetCursorPos()

my go.mod is
[code]

[2021-07-28 12:16] AllenDang commented on #240
@daiwhea Run `go get github.com/AllenDang/giu@master`

[2021-07-28 12:19] AllenDang commented on #239
@NetForces A second thought just came out. You could decode the video with ffmpeg, convert video frame to rgba image and display it at certain framerate like 24 fps.

[2021-07-28 12:22] NetForces commented on #239
FYI just tried it and it works. I used `wmctrl` to grab the window ID and pass it to `mplayer`. Indeed it's platform dependent but for me it will do.

Not follow-up question, if I have an image defined by `canvas.AddImage` is there a way to bring it back to the top layer ?

24fps is too slow for my usecase.

[2021-07-28 12:30] AllenDang commented on #239
@NetForces Just draw image after video frame is rendered. I don't quite sure this will work, maybe mplayer occupies whole event processing of the master window.

[2021-07-28 12:51] NetForces commented on #239
Yeah I'll give it a try. I thought the `-wid` with `mplayer` worked but as soon as I move the mouse the screen flickers between the video and the main window...

[2021-07-28 18:53] gucio321 commented on #234
okey, thank you

[2021-07-28 18:53] #234 closed

[2021-07-28 18:58] gucio321 commented on #235
i don't think it is the such the problem. you can do `SetWindowIcon(data []byte)` and data could be variable loaded by go:embed or anything else.

[2021-07-29 00:35] daiwhea commented on #240
Thanks @AllenDang . I'm a beginner, but I do think immediate mode is great. I can make custom widget quickly. And I still has some beginner questions. Would you please have a comment?

1. If I want a window without padding for my chart, how to set it?
2. In react, we use react-router to navigate to other pages. Is there any best practice in ImGui? I use a big switch to do the work. I'm not sure is

[2021-07-29 00:44] daiwhea commented on #240
Great, Chinese can displayed without any settings. But I want to know, if I want to use another font, for example, a bigger font size or another color, how can I do that in the newly @master branch? Seems many examples are broken now.

![78F2EF01-9CDE-45E7-A67C-BFD5B69A756D](https://user-images.githubusercontent.com/163152/127414043-48898197-6a44-460a-b771-52ff30a0fb39.png)

[2021-07-29 02:07] daiwhea commented on #240
[code]

Ok, it should be GetAvailableRegion().

[2021-07-29 02:25] AllenDang commented on #240
@daiwhea All examples should work. Can you tell me which example doesn't work?

[2021-07-29 03:12] daiwhea commented on #240
Sorry, I made a mistake. I just run the copied the examples for 0.5.4 . It's ok for 0.5.5. I'll read your codes first. Thanks @AllenDang

[2021-07-29 10:21] daiwhea opened #241 "RegisterKeyboardShortcuts for two InputText?"
I have two InputText, and I wish it will copy/paste string in it. I see there is a giu.RegisterKeyboardShortcuts for a window. But I only want that KeyC/KeyV for InputText, if I use RegisterKeyboardShortcuts for window, how can I know which InputText was focused?

Thanks.

[2021-07-29 10:28] AllenDang commented on #241
@daiwhea Can you explain more detail about the usage scenario?

[2021-07-29 10:33] daiwhea commented on #241
sure, let me make a simple demo for it.

[2021-07-29 10:42] AllenDang commented on #235
@gucio321 Make sense, I'll add it.

[2021-07-29 11:04] daiwhea commented on #241
Should we change the title to "**[Request] Support other keyboard layout well**" ?

[2021-07-29 11:27] AllenDang commented on #241
@daiwhea Easy way to do this is handle Ctrl+I, read content from clipboard and set to inputext.

[2021-07-29 11:34] daiwhea commented on #241
Sorry, I want to say, giu hasn't process ShortCuts well. When I use Programmer Dvorak keyboard layout it's Ctrl+I, when I use default keyboard layout it's Ctrl+C. Then if some other layouts was used, it's some other Ctrl+? .

So, my question is:

Can giu's detect current keyboard layout and use ShortCuts for that keyboard layout?

[2021-07-29 11:53] AllenDang commented on #241
@daiwhea This is more complex than you think. Not just keyboard layout, but also different OS, and even need to process different keyboard remapping. I think this will have low priority right now.

[2021-07-29 11:57] daiwhea commented on #241
Yes, it can work. So let's close it, if you have time for it, we can reopen it.

Thanks @AllenDang giu is really charming! Thanks for your time.

[2021-07-29 12:15] #241 closed

[2021-07-29 17:05] gucio321 commented on #235
cool, looking forward to see the feature :tada:

[2021-07-30 06:50] AllenDang commented on #235
@gucio321 It's done!

[2021-07-30 19:38] HACKERALERT commented on #235
@AllenDang Thanks for implementing this feature, it will be a lot easier for me to add a window icon now. I have a question. On Windows, the native icon format is .ico, for macOS it's .icns, and for Linux it's .png. Is this method currently cross platform? Thank you very much!

[2021-07-31 02:26] AllenDang commented on #235
@HACKERALERT I quote the comment of SetIcon here.
         // SetIcon sets the icon of the specified window. If passed an array of candidate images,
	// those of or closest to the sizes desired by the system are selected. If no images are
	// specified, the window reverts to its default icon.
	//
	// The image is ideally provided in the form of *image.NRGBA.
	// The pixels are 32-bit, little-endia

[2021-07-31 03:01] HACKERALERT commented on #235
So I read this thread carefully again and what I'm getting here is that I should load different sizes of my icon as image.Image/image.NRGBA and pass it in a []image.NRGBA to giu.SetWindowIcon. Great, thanks!

[2021-07-31 03:13] runsys opened #242 "generate ui script get error"
code:
package main

import (
	g "github.com/AllenDang/giu"
	lua "github.com/yuin/gopher-lua"
	luar "layeh.com/gopher-luar"
)

// Define a simple plugin struct
type LuaPlugin struct {
	Name   string
	Layout g.Layout
}

// Genreate a string pointer for lua
func GStrPtr() *string {
	var str string
	return &str
}

// Receive string value from pointer
func ToStr(str *string) string {
	return *str
}

va

[2021-07-31 04:04] AllenDang commented on #242
@runsys I don't understand your question here... What are you intend to do? What error message you got?

[2021-07-31 04:14] daiwhea commented on #240
@AllenDang Two beginner questions:

1. If I want a window without padding for my chart, how to set it?
2. Can we use system menu in macosx?

![51CBAE58-7352-42C2-956E-1F7B9847110E](https://user-images.githubusercontent.com/163152/127728220-e9965815-6fd8-4913-98b6-7bb26e3f62aa.png)

Thanks. I just dive into ImGui for days. Don't know well the best practices for it. Thanks again for your time.

[2021-07-31 05:15] AllenDang commented on #240
@daiwhea
1. Set the width of plot to -1, means to use available width -1 px.
2. No, cannot use system menu.

[2021-07-31 08:32] daiwhea commented on #240
Thanks @AllenDang

I'm sorry, how can I set the width of plot to -1? I didn't use g.Plot("Plot Bars").Size(500, 250). I write my KChart widget.

So the question may become, for custom widget, how can we set it's size?

[code]

[2021-07-31 09:01] AllenDang commented on #240
@daiwhea Basically, the widget creation in giu is just drawing something at some position. For custom widget, here is the logic going on internally:
1. Invoke canvas api to draw anything at anywhere.
2. Use InvisibleButton to tell giu what's the size and position of your custom widget, and handle user events.

To your question, how to set size of a custom widget, answer is set the size of a Invisi

[2021-07-31 09:39] daiwhea commented on #240
@AllenDang Thanks. I add a InvisibleButton. But it seems there are some default padding in window. Please have a look at the screenshot below.

If I want my window has no padding, how to set this?

![54013E99-71D0-4A8E-8F2D-E499A1E98920](https://user-images.githubusercontent.com/163152/127735805-3ea278e7-d99f-48eb-9d21-2e351c4830a2.png)

[2021-07-31 09:48] AllenDang commented on #240
@daiwhea I just created a quick demo, and I didn't find any padding.
[code]

[2021-07-31 09:57] daiwhea commented on #240
@AllenDang Thanks, let me try it and feed back asap. Thanks. ^_^

[2021-07-31 10:39] AllenDang commented on #240
@daiwhea If you are saying that you don't want any border padding, just increase the size any you like
[code]

[2021-07-31 10:51] daiwhea commented on #240
No, it doesn't work. I change your code +- 80px, And it still not work as wanted.

![DB7802BF-2889-4AE6-A0E4-0718B93311BF](https://user-images.githubusercontent.com/163152/127737569-dd359f7d-b26f-4949-b724-17a1b7a28fc6.png)

[2021-07-31 11:10] daiwhea commented on #240
yes, I should use pos.Add() to get position properly.

[2021-07-31 11:18] AllenDang commented on #240
@daiwhea So you don't want any padding at all. This is impossible, and frankly I think it's not reasonable. Why you need to avoid window padding at all? If just for visual consistance, change the background color of MasterWindow to the same with your plot.

[2021-07-31 11:28] daiwhea commented on #240
I see. In some windows app, there is no any padding. So I want to know whether giu can do it or not. Currently this is acceptable. Thank you @AllenDang . You are really helpful!

[2021-07-31 12:58] AllenDang commented on #194
@aj3423 It's done. TreeTable widget is ready to use.

[2021-07-31 12:59] AllenDang commented on #134
@folays TreeTableWidget is ready to use.

[2021-07-31 12:59] #240 closed

[2021-07-31 14:47] gucio321 commented on #235
@AllenDang thanx for implementation!

[2021-07-31 14:47] #235 closed

[2021-07-31 14:54] gucio321 opened #243 "style: Push font doesn't work properly"
Hi,
I have the folowing code:
[code]

I'm getting the following panic:
[code]

I suppose, it is caused by fact, that font isn't used anywhere so isn't loaded in fact.
I'd suggest (if there isn't any better solution) to remove giu.PushFont, because there is StyleSetter.SetFont and it works fine.

[2021-07-31 15:32] gucio321 commented on #236
@allenDang hmm, you're right
but is it possible to add ID method and us Push/PopID?

[2021-07-31 21:59] HACKERALERT opened #245 "Handle Closing MasterWindow?"
Hi, is there a way to disable the user from closing the master window? For example, I don't want a user to be able to close my program when it's encrypting a file, as it would cause a lot of issues with temporary files. I checked MasterWindow.go as well as Events.go, but I haven't found anything like it. Ideally, it would be used like:

[code]
Thank you very much!

[2021-08-01 05:13] AllenDang commented on #245
@HACKERALERT It's done. MasterWindow.SetCloseCallback is added.

[2021-08-01 05:17] AllenDang commented on #243
@gucio321 Add font before `g.NewMasterWindow`. This may cause trouble, I need to figure out a better way to avoid it.
And PushFont should remain for some special case where g.StyleSetter cannot work well.

[2021-08-01 05:17] #230 closed

[2021-08-01 05:17] #134 closed

[2021-08-01 05:17] #194 closed

[2021-08-01 08:16] daiwhea opened #246 "A strange issue for Chinese characters. How to show Chinese character correctly with canvas.AddText()?"
I add one line code to rewrite canvas example. I want to display some Chinese characters with canvas.AddText().

1. If I canvas.AddText() without Chinese characters in Label, it will be displayed as ????
![A6DE92B2-F93E-4B45-B175-9D76A8CE7EC9](https://user-images.githubusercontent.com/163152/127764045-0179f0d5-ec88-44bc-b10e-87f9c95cdec1.png)

2. If I add the **same Chinese character** in one labe

[2021-08-01 08:29] AllenDang commented on #246
@daiwhea It is fixed. tStr is a internal method to register characters which will be displayed and build font atlas for rendering.

[2021-08-01 08:47] daiwhea commented on #246
@AllenDang Great! It's ok now. Thanks a lot.

[2021-08-01 08:56] #246 closed

[2021-08-01 22:59] HACKERALERT commented on #245
Oh wow, @AllenDang you work very fast. Many thanks!

[2021-08-01 22:59] #245 closed

[2021-08-02 02:40] HACKERALERT opened #247 "Bug: Can't open popup after closing another"
[code]
I have to PopupModal's. The one you see above is shown to confirm with a user if they would like to overwrite an existing file. If I respond no, the popup closes successfully. But, when I choose yes, the popup "Warning:" is hidden, but the popup "Progress" isn't shown either. I have a button that can successfully show the popup "Progress" on click, but I'm having trouble closing an existing

[2021-08-02 10:38] AllenDang commented on #247
@HACKERALERT There is a rule in imgui says g.Popup can only open popup in same widget heirarchy. The button Yes in Popup1 cannot open Popup2 if they are defined in same level. To archive what you need, do it like this:
[code]

[2021-08-02 12:02] lukaswozniak commented on #155
I'm having the same problem. Is there any workaround for it?

[2021-08-02 12:23] AllenDang commented on #155
@lukaswozniak It's really weired. What c++ compiler you are using?

[2021-08-02 13:40] HACKERALERT commented on #247
Oh, that's rather interesting. Thank you for this solution.

[2021-08-02 13:40] #247 closed

[2021-08-02 14:06] lukaswozniak commented on #155
I'm not really sure, definitely the default. I'm running the hello world code without any changes. If I change my second monitor from 125% to 100% scaling in Windows settings, then it's fixed for me, but I don't like it at 100%, because everything is too small to read.

go version go1.16.6 windows/amd64

[2021-08-03 04:08] daiwhea opened #248 "How to update g.Label() properly? When to use g.Update()?"
I have a g.Label() to display some msg. And the msg will be changed after some seconds. So I want my changed msg displayed properly. But if I don't move mouse and don't press any keys. I can see the timer did fired, but the msg not visible. If I moved mouse or pressed keyboard, the new msg displayed.

I know there is a g.Update() in timer can make this msg displayed immediately. But I'm not sure,

[2021-08-03 05:02] AllenDang commented on #248
@daiwhea Giu will stop drawing process if there is no user action has been made to save CPU usage. So if you want to update anything, call giu.Update to inform a refresh.

[2021-08-03 08:53] daiwhea commented on #248
I see. Thanks for your comment.

[2021-08-03 10:37] #248 closed

[2021-08-07 01:09] HACKERALERT opened #249 "Can't clear text of focused InputText"
Hi. When I have an InputText and the user is focused on the widget, I can't clear the text box by setting the string variable to "". Is there a way to empty an InputText when the user's cursor is inside the textbox or is that not possible because of ImGui's design? Thank you very much!

[2021-08-09 05:03] AllenDang commented on #249
@HACKERALERT What's the demo code looks like?